[2013-09-14 22:19] marcteys opened #2 "FaceAPI in compiled windows binaries"
After few tests, faceAPI as tracker source don't seems to work.

Windows 8

[2013-09-15 09:05] marcteys opened #3 "UDP paquets - byte encoding"
I try to acess to the UDP paquets send via FlightGear (port 5550). I can't decode the bytes (in C#).
It should be `Encoding.UTF8.GetBytes(dataByte)`. I try to encode the bit with UTF8, ASCII, ASCI... The Qbyte array works with UTF8 encoding right ?

Every test are made with the old facetrackNoIr. The protocol seems to have change since the new version of Opentrack. Maybe my question is obsolete.

[2013-09-15 09:44] #2 closed, assigned to nobody

[2013-09-15 11:30] #3 closed, assigned to nobody

[2013-09-18 05:43] alterscape opened #5 "Path for Highgui include in tracker_pt?"
I am compiling OpenTrack on Windows 7 32-bit using Visual Studio 2008. OpenCV is built from their git 2.4 branch. On a fresh checkout of master, I need to manually modify line 16 of camera.h to read "#   include <opencv2/highgui/highgui.hpp>" to fix a file not found error. I also need to manually modify my linker input to include strmbase.lib from the Windows SDK. With these changes, master (as of

[2013-09-23 10:36] #5 closed, assigned to nobody

[2013-10-28 12:10] baggyg opened #7 "Is it possible to add support for YEI sensors?"
The API can be found here:

http://www.yeitechnology.com/yei-3-space-application-programming-interface

Many Thanks

[2013-11-27 21:57] runningman84 opened #9 "PointTracker problem crashes opentrack"
The point tracker plugin crashes opentrack if the video device is not ready...

There should be some kind of error handling. Is there any video preview? This would really help to identify camera problems.

[code]

[2013-11-27 22:02] runningman84 opened #10 "Xplane and other plugins not available"
I have tried to compile opentrack on ubuntu 13.10. But my plugin list shows only udp and flightgear.

How can I enable these other plugins?

[2013-11-30 17:07] #10 closed, assigned to nobody

[2013-11-30 17:12] runningman84 opened #11 "Xplane stop and start doesn't continue tracking in xplane"
If you stop opentrack within flight and start ist again the tracking will not continue. In Facetrack 2.x running windows this was not a problem...

[2013-11-30 17:50] #11 closed, assigned to nobody

[2013-12-05 11:55] ElFitz opened #12 "OpenTrack doesn't output the oculus tracking data"
Hi !
I'm having a strange issue. I've set up OpenTrack to use the Oculus Rift as main tracker, no secondary tracker, and FreeTrack 2.0 as the output.

OpenTrack correctly reads the Oculus tracking (after pressing start) but the software (VBS2), even though detecting a TrackIR controller, enabled, doesn't react to it.

Worse, even the mouse emulation doesn't produce any kind of result.

I am using

[2013-12-09 19:51] dantaeyoung opened #13 "OpenTrack - UDP output format"
I'm trying to access the UDP packets via another Python script, and am having trouble correctly decoding the output. As per this issue (https://github.com/opentrack/opentrack/issues/3), and looking through the code, it seems that the output UDP is a QByteArray of six doubles, and so I'm decoding that data in Python.

On the Python side, however, the positive numbers have been decoded correctly as

[2013-12-09 22:55] #13 closed, assigned to sthalik

[2013-12-12 03:40] #9 closed, assigned to sthalik

[2013-12-12 20:47] runningman84 opened #15 "60 fps ps3 eye cam linux"
My framerate does not go above 30 even if I select 60 fps in the point tracker settings. Are 60 fps not supported on Linux?

[2013-12-12 22:21] runningman84 opened #16 "TX changes while moving yaw axis to max"
If I turn my head the yaw axis changes... but after I reach about 70% the TX value changes as well. This seems to be a bug, as you can see in this picture I am still in the
deadzone for X but the effective value is -17.4

https://dl.dropboxusercontent.com/u/17606390/opentrack1.png

[2013-12-27 13:58] runningman84 opened #17 "ARMA 2/3 support"
Opentrack beta 3 doesn't work with ARMA 2 and 3. I have enabled the trackir controller in the control settings but my head movement isn't recognized in the game. I use freetrack 2.0 as protocol in Opentrack.

[2014-01-05 16:13] #17 closed, assigned to nobody

[2014-01-12 20:04] chsims1 opened #18 "Frequent crashes .. no debugging??"
Hi, just tried opentrack today.  Frequent crashes but it doesn't seem to put out any error/debugging info. x86_64 arch system.No specifics because it seems to hang/crash from a variety of situations.

[2014-01-13 22:55] MaximeMorel opened #19 "Deadlock ?"
I am trying opentrack compiled on archlinux 64 bit. I use PointTracker 1.1 as the main tracker. I have a ps3 eye.
After tweaking the code a little I found that maybe there is a deadlock on the mutex declared there : ftnoir_tracker_pt.h:60
So, Tracker::GetHeadPoseData almost never get the lock. It seems Tracker::run() always has it.
What's happening :
When tracking is running, the video widget is u

[2014-01-14 05:58] #15 closed, assigned to nobody

[2014-01-14 05:58] #12 closed, assigned to nobody

[2014-01-14 05:59] #16 closed, assigned to nobody

[2014-01-14 07:17] #19 closed, assigned to nobody

[2014-01-14 08:27] #18 closed, assigned to nobody

[2014-01-14 17:37] chsims1 opened #20 "Pink Octopus and Top Numbers"
Hi, I'm trying to decide if opentrack is tracking or not when using pointtracker.  I have three crosses following my leds nicely in the video stream, and values displayed for raw translation and rotation.  There are no numbers displayed at the top next to the pink octopus.  Should this be moving like in FTNoIR?

Secondly, I cannot get opentrack to work with flightgear.  I have set the flightgear o

[2014-01-15 08:18] #20 closed, assigned to nobody

[2014-01-15 08:48] chsims1 opened #21 "Orientation of LED clip"
Hi, my clip is not orientated exactly vertically.  i have played around with the custom model settings to compensate for this but this seems to be a bit fiddly and to introduce distortions of the tracking.  Is it possible to have an angular clip orientation setting somewhere, or do I just need to mount it vertically on my headset?  This latter option would make it difficult for more than one perso

[2014-01-15 19:10] #21 closed, assigned to nobody

[2014-01-15 19:18] chsims1 opened #22 "TrackIR output"
Would you mind giving a quick comment on current & future TrackIR support?  I understand that they have started using a proprietary format rather than that used in FreeTrack.

The reason I ask is that 'Elite: Dangerous' is being released this year (currently in alpha) with TrackIR support .. a game that I will be playing when it reaches beta in about a month.

[2014-01-15 19:52] #22 closed, assigned to nobody

[2014-01-23 17:13] royvegard opened #23 "Installation on Debian gnu/linux testing"
All files are installed to CMAKE_INSTALL_PREFIX. No install directories seem to be set, so all .so files etc. are installed directly to my /usr/local.

This is what I tried:
mkdir build
cd build
cmake ..
make
sudo make install

[2014-02-08 19:58] runningman84 opened #24 "TrackClipPro dimensions"
Maybe you can add the dimensions of the popular track clip pro to the default settings?

ClipBottomHeight=40
ClipBottomLength=30
ClipTopHeight=70
ClipTopLength=80

[2014-02-10 04:33] #24 closed, assigned to nobody

[2014-02-14 22:26] runningman84 opened #25 "difference windows / linux"
Using the same profile I have to change the axis inversion between windows and linux in order to get the same result:

[code]

Futhermore looking in WarThunder (windows) is very smooth, the movement is very choppy in X-Plane (linux). I use the same settings expect of the inversion.

Maybe the different fps of my ps3 eye is the source of this problem?

[2014-03-03 11:27] hrobertson opened #26 "UDP Protocol"
I've written an Android app to send orientation data via UDP but Opentrack doesn't appear to receive/understand it. The raw value displays remain at 0.

This is one of the UDP packets:

[code]

The data being the last 48 bytes:

[code]

The first 3 are 0 as I'm not using translation, only rotation.
The three numbers should be 128, 1 and -4.
These are IEEE doubles.

Am I doing something wrong or is

[2014-03-16 21:51] flyingfisch opened #27 "Qt5 needed?"
`$ cmake ./
CMake Error at CMakeLists.txt:117 (find_package):
  Could not find module FindQt5.cmake or a configuration file for package
  Qt5.

  Adjust CMAKE_MODULE_PATH to find FindQt5.cmake or set Qt5_DIR to the
  directory containing a CMake configuration file for Qt5.  The file will
  have one of the following names:

[code]

CMake Error at CMakeLists.txt:118 (cmake_policy):
  Policy "CMP0020

[2014-04-26 22:20] andy-kliman opened #28 "How to compile for mac os? is there any manual?"
the latest build does not run on my 10.9.2

[2014-05-30 12:59] #23 closed, assigned to nobody

[2014-06-06 11:34] naizarak opened #32 "Stuttering during camera movement"
Hi, I tried my hand at opentrack recently with the new mk4 filter, and have noticed a consistent micro-stuttering in games whenever moving the camera. I've played around with game settings, vsync, and accela settings but the stuttering just never goes away.  The best way to describe it is that the video image seems to "skip" frequently and doesn't flow smoothly. This effect only happens during cam

[2014-06-08 08:29] #27 closed, assigned to nobody

[2014-06-12 05:34] #7 closed, assigned to nobody

[2014-06-13 06:52] wentam opened #34 "Option to disable 'ding'"
When hitting the center or toggle tracking keys, there's a 'ding' sound.

Not nice when trying to stream games on twitch :)

Would be great to be able to disable it.

[2014-06-13 07:03] #34 closed, assigned to nobody

[2014-06-13 08:07] #28 closed, assigned to nobody

[2014-06-13 08:07] #25 closed, assigned to nobody

[2014-06-13 08:07] #26 closed, assigned to nobody

[2014-06-24 23:29] burzum opened #35 "How to chose a different camera?"
How can I chose a different camera? Opentrack detects my TV card as capture device but I can't find a way to change it to the PS3 Eye cam that is connected as well.

[2014-07-02 09:19] SummerRainbowz opened #36 "OpenTrack crashes"
Today I tried to play Euro Truck Simulator 2 with my favourite mod (http://forum.scssoft.com/viewtopic.php?f=39&t=105179), a physics mod that adds more realism. The problem is that everytime I jump into the game, O.T. crashes while FTNOIR works just fine. May I get some help about why O.T. is crashing? (Using Windows, and here are my settings:http://pastebin.com/arjuSH5S)

[2014-07-11 07:43] f4l0 opened #37 "Unable to get headtracking with pointtracker to work"
![opentrack_error](https://cloud.githubusercontent.com/assets/1668250/3549798/34ee57c2-08cf-11e4-8ccb-391657bd545c.jpg)
Hello Devs,

I just tried opentrack on Windows 7 but I was unable to get this working. I use a PS3 cam with a 3 point IR-model. For FactrackNoIR this works nearly perfect. In the settings of PointTracker 1.1 or in the video preview in opentrack I can see that 3 points are detecte

[2014-07-11 09:23] #37 closed, assigned to nobody

[2014-07-11 10:35] #35 closed, assigned to nobody

[2014-07-27 11:33] runningman84 opened #38 "Native support for edtracker"
EdTracker looks very promising. It would be great to have a native ed tracker input for opentrack. Right now it is only possible on Windows using a chain of tools:
http://sourceforge.net/p/facetracknoir/discussion/1150909/thread/e91dadc1/
Edtracker>joystick curves>vjoy>joystick

[2014-07-30 21:59] #32 closed, assigned to sthalik

[2014-08-15 11:18] pusewicz opened #39 "Add build instructions"
It's unclear how to build the projects. Would be great to add it to the readme.

[2014-08-27 01:47] SgtGrumbles opened #41 "Precision mode ala TrackIR"
First off, love this software. Thanks for the work on it.

A request for Precision mode, something TrackIR has which can be very useful.  Basically it would be an additional hotkey that would reduce sensitivity.  TrackIR does this by increasing smoothing.  Useful in flight sims, as well as games like ARMA when using scopes.

Currently, because the view is so zoomed in when using scopes, tiny head

[2014-08-28 13:16] SummerRainbowz opened #42 "OpenTrack stutters"
Did 2 videos to show the difference between FTNOIR (Accela MK2) and OT (Accela MK4):
http://youtu.be/AlqK4lEmUeQ

http://youtu.be/V65C9zyfa7w
(Please excuse the poor quality.)

The same I can say for the EWMA filter, on FTNOIR it runs way better.

Here are my settings that we're used for the video(latest windows build btw):
FT:http://pastebin.com/Ly1yt7BY
OT: http://pastebin.com/U8jSU2XA

[2014-08-28 13:17] #36 closed, assigned to nobody

[2014-08-30 07:21] sthalik opened #43 "fix basis vectors of all trackers and protocols"
All the trackers should have yaw, pitch, roll, x, y, z point the same way.

Since I have access to barely any of the trackers, please participate.

[2014-08-31 13:15] sthalik opened #44 "remove rest of forked project's cruft"
Look harder for cruft from "FaceTrackNoIR" project:
- useless comments
- win32 and Qt API misuse
- logic errors
- dead code

Most of it's taken care of already.

[2014-08-31 13:17] sthalik opened #45 "the face tracking problem"
The sole face tracker remaining, HT, misbehaves badly.

Either make sure it isn't such a waste of disk space, -or- document that it's only good to see if tracking works, not usage.

Or both.

[2014-08-31 13:20] sthalik opened #46 "preempt further pestering with FAQ"
Get rid of stuff causing common user confusion.

Maybe make a first-time user wizard or something.
- initial mapping being empty
- face tracking ain't worth spit
- making a LED clip not necessary, see aruco

[2014-08-31 13:22] sthalik opened #47 "freetrack 2.0 protocol support contains a binary"
Since the functionality can't feasibly gotten rid of, consider options regarding the in-tree binary.

Just don't do anything with abandon, as resulting shitstorm likely to sink the project.

[2014-09-05 01:41] pkonecki opened #48 "Support for android app Head Track"
Google play page:
https://play.google.com/store/apps/details?id=com.c0bra.head.track&hl=en

It's an app that gets raw gyroscope data from phone to use as yaw/pitch/roll track device with a pc (data is transmitted over network).
This app was written by https://github.com/KateAdams (Aka C0bra), with a Windows server more or less compatible as a freetrack device.

The code for the app & server is ava

[2014-09-07 06:35] #39 closed, assigned to nobody

[2014-09-07 10:16] #41 closed, assigned to nobody

[2014-09-08 22:21] Denco96 opened #49 "OpenTrack Stuttering when moving."
Hi

OpenTrack is stuttering badly when using it. I'm using PS3 Eye with DelanClip ( PointTracker 1.1, FreeTrack2.0 and Accela Filter MK4 )

As I've stated the stuttering is bad. I don't have any stutter when using FTNIR but the latency is worse there. My settings
ddeadzone=0.7
exponent=2.0
rotation-alpha=25
second-order-alpha=999
third-order-alpha=999
translation-alpha=25
rotation-deadband=0.4
tra

[2014-09-10 14:50] #49 closed, assigned to nobody

[2014-09-10 18:23] yucandu opened #50 "Opentrack is sending X and Y translation values, even though they are disabled?"
Not sure if this is the right place to post this - I couldn't find any Opentrack forums or discussion boards.

I have OpenTrack set up to work with my IR 3-point cap, and it works great, except for one thing - when I rotate or pitch my head, your software OpenTrack adds a whole bunch of X and Y translation on top of that.  That means that when I turn my head 10 degrees in real life, OpenTrack is t

[2014-09-13 09:33] #38 closed, assigned to nobody

[2014-09-13 15:59] Antmax opened #51 "Shortcut keys not working in games windowed or fullscreen. Work fine otherwise."
The latest opentrack posted last night. opentrack-win32-20140913.tar.xz is tracking with EdTracker correctly which is excellent news. Thanks for all your effort.

I have tested in War Thunder and Elite Dangerous and actual tracking is working fine. I have however noticed a problem.

The keyboard shortcuts for center and on/off toggle only work outside of a game. When a game has focus those keyboar

[2014-09-14 06:07] #51 closed, assigned to nobody

[2014-09-16 05:13] #42 closed, assigned to nobody

[2014-09-16 10:34] KyokushinPL opened #52 "remapping axes feature"
Please add remapping axes feature, for example x for y or y for z etc.
It will be useful in case for use smartphone sensor (via UDP), there will be a possibility to mount smartphone in any way. This allow set up of axes to VR or tracking

//polish//
Proszę o dodanie funkcjonalności zamiany osi, np x na y lub y na z etc.
Przyda się to w przypadku wykorzystania sensora ze smartfona (via UDP), dzięki

[2014-09-17 21:34] bgulowaty opened #53 "Profile related operations (Load, Save As) causes crash"
Just like in the topic's title. When pressing Load or Save As (tried also in administrator mode) the program crashes.

[2014-09-18 02:38] #53 closed, assigned to nobody

[2014-09-18 06:36] sthalik opened #54 "reorganize source tree"
All trackers in the form of ftnoir_tracker_FOO -> trackers/FOO

Similarly for protocols and filters.

[2014-09-18 07:25] #52 closed, assigned to nobody

[2014-09-18 11:07] #50 closed, assigned to nobody

[2014-09-18 23:18] Antmax opened #55 "Joystick Protocol dialog not showing options."
Hi, the joystick input dialog seems to have changed in the very latest build. Instead of listing the joystick name from a list and giving you the 6DOF axis assignment options it displays the stick name and no configuration settings. See pic below:

![](http://tysoes.com/Elite/JoystickDialog.png)

My EDTracker and Saitek X52 do not work correctly with the wrong axes preassigned.

It used to look li

[2014-09-19 05:42] #55 closed, assigned to nobody

[2014-09-19 06:04] electricaltill opened #56 "Mappings not saving"
Hi, Opentrack isn't saving my mappings, and I have to redo them all when I start the program. I do have saved profiles, but the curves are all flat when I load them. Remappings and invert options are saved, but that's it. Am I doing something wrong?

[2014-09-19 08:05] sthalik opened #57 "stable and dev branches"
We can't annoy users any longer with regressions and other nonsensical bugs anymore.

Hence, process changes to stable and dev branches.

[2014-09-19 09:13] #56 closed, assigned to nobody

[2014-09-19 12:59] sthalik opened #58 "allow messing with pose basis vector in core"
Use cases like camera upside down, rotated 90deg.

Following that PT tracker support for the functionality can be removed.

[2014-09-20 10:34] sthalik opened #59 "build version for titlebar causes rebuild after every commit"
Set build version only for one static module, link it to main executable so less time wasted.

[2014-09-20 14:00] #59 closed, assigned to nobody

[2014-09-21 05:32] sthalik opened #60 "allow for spring effect in core, for any axis"
Spring effect hardcoded for Rift yaw only, so far.

Need allow for @pocketmoon EDTracker et al. in a protocol-agnostic fashion.

Possibly need generalized enough to work for all of drifting gyros, mags, _and_ accelerometers.

Once done, implore @brumster and friends to remove their firmware-based spring effect.

[2014-09-21 20:19] KyokushinPL opened #61 "User interface lifting"
As we talk, proposition of new UI:
![otuui_4](https://cloud.githubusercontent.com/assets/8788677/4349899/948bec18-41cc-11e4-9d77-e0c7a1b206a9.jpg)

[2014-09-22 07:38] sthalik opened #62 "second tracker support to be removed"
Users of two trackers at once please step up.

Describe your use case.

Second tracker support was always a kludge.

[2014-09-23 12:40] ruPaladin opened #63 "Axis glitch when clip plane is not perpendicular to lens plane"
When I rotate lens of the camera, I get this glitch (I look upwards): http://i.imgur.com/MoBnZ3k.png
I have tried to show problem here: http://i.imgur.com/7rcUYP7.png
Here is camera and lense on the same line with my head center (I look upwards):
http://i.imgur.com/QVNmqyn.png
Here is camera is on the line with my head but lens is rotated on some angle leftwards (I look upwards):
http://i.imgur.co

[2014-09-23 12:44] ruPaladin opened #64 "Add minimize to tray feature"
I like to see xpadder in tray. Please, add minimize to tray check box in opentrack (when active and you press minimize, opentrack minimizes to tray) :)

[2014-09-23 14:13] sthalik opened #65 "AGC - webcam automatic gain/exposure control"
Use AGC in Aruco, PT et al for making it work in the first place without manual gain adjustment.

As per http://cp.literature.agilent.com/litweb/pdf/ads2005a/timed/cstimA4.html.

Aruco in particular has issues with lighting conditions changing between runs.

Note to self, header-only implement in core, for use in trackers. Windows API http://msdn.microsoft.com/en-us/library/windows/desktop/dd37603

[2014-09-23 14:44] c4tachan opened #66 "Web Socket and Flash Policy Server Support"
The enhancement is to add a web app to be served up on the local network by opentrack.

The web app needs only to forward the sensor data from the device accessing it to the opentrack software for processing.

This will add compatibility with more devices through a single module, as opposed to developing separate android, iOS, and Windows Phone applications to transmit sensor data using UDP.

Acco

[2014-09-25 12:37] sthalik opened #69 "remove opencv core dependency"
Multiply matrices any other way.

[2014-09-25 20:18] Silvarin opened #70 "ezca fix not working or on the wrong axis (or im messing up)"
Hello,

Don't know if it's true or i'm doing something wrong, but i cant for the life of me look up more than 45 degrees in Il2 BoS. And i got the feeling the yaw is extremely touchy. This is using the latest version of Opentrack. I checked the ezca box, so that's not it.

Using an earlier version that didn't save profiles correctly, i could look up fine. Am i missing something?

Thx in advance!

[2014-09-26 21:26] Pretagonist opened #71 "reset/toggle with joystick"
I might be going at this the wrong way but anyhow.

I have been using autohotkey to do some more advanced joystick scripting.
My goal is to have a button where a short press is a reset and a hold and release is a on off toggle.
i can get autohotkey to listen to the joystick; determine if long or short; and press a key. the problem is that opentrack apparently uses some special magical way of liste

[2014-09-27 20:43] #70 closed, assigned to nobody

[2014-09-28 10:19] Pretagonist opened #72 "Adding a freeze hotkey"
There would be a benefit to being able to freeze your view. possible use cases are screenshotting/filming or that you want to look at a specific control in a cockpit without have to look out of the corner of your eye. For instance the side panels in Elite: Dangerous.

The current implementation of the toggle also locks to viewport forward. I'd like another hotkey that just freezes the view but doe

[2014-09-28 13:48] sthalik opened #73 "allow listen for keystokes while tracking stopped"
Provides means to start/stop tracking as a toggle.

[2014-09-29 14:14] sthalik opened #74 "alternate layout for no video feed"
Too much space consumed by video feed in case no camera used.

[2014-10-01 19:03] runningman84 opened #75 "joystick linux support"
I just got my edtracker 2. Which is recognized as a joystick device on my ubuntu machine.

Is it possible to support joystick input on Linux systems as well?

[2014-10-03 19:28] Denco96 opened #76 "DCS World stopped working in 1.2.10"
Headtracking stopped working in the latest version of DCS World. I tried it with FTNOIR and OT and both don't work while they still work in other games. Its most likely the latest version of DCS World that is the culprit but I still reported it here.

[2014-10-04 07:39] sthalik opened #77 "progress with issues marked in code as XXX and/or TODO"
Fix this maintenance nightmare.

[2014-10-06 11:07] ruPaladin opened #78 "Possibility to scale axis in mapping (curve settings)"
I don't know is it really needed!!! Just some of my ideas.

Here is my settings for yaw curve:
http://i.imgur.com/cwNTa1y.png
You may see that I use only 30-40 input angle. I don't know how is it possible to turn head at 180 degrees and does this axis really need this high value. Also gaps between "y" axis marks are too small. It may cause problems with accurate settings tuning. But nowadays I am

[2014-10-07 21:03] brokenhands opened #79 "PointTracker crashes on launch"
As a preface, I've had OpenTrack working with the Aruco previously, and got FTNoIR working with PointTracker 1.1. My hardware is a Kinect with a custom IR rig. I've been using this to access the IR camera: https://github.com/falahati/NiVirtualCam

When I try to start tracking with PointTracker selected and NiVirtualCam going, OpenTrack32 CTDs. It does this regardless of which of the cameras are se

[2014-10-10 18:01] #78 closed, assigned to nobody

[2014-10-13 13:54] ruPaladin opened #80 "Aruco marker link broken"
Aruco marker link here https://github.com/opentrack/opentrack/wiki/Aruco-tracker is broken.

[2014-10-13 17:46] #80 closed, assigned to nobody

[2014-10-14 20:51] #54 closed, assigned to nobody

[2014-10-14 20:54] #58 closed, assigned to nobody

[2014-10-14 21:33] #60 closed, assigned to sthalik

[2014-10-14 22:02] sthalik opened #82 "Research Oculus Rift output tracker"
It's possible (?) that in the future, more games support exclusively Rift API for tracking and not the others.

Need to research faking an Oculus device, as per
https://www.google.pl/search?q=oculus+rift+fake+device
https://developer.oculusvr.com/forums/viewtopic.php?f=25&t=10539

The SDK actually we have forked in @opentrack. Worst case, need fake a HID for a nonexistent USB device or something.

[2014-10-15 16:30] #71 closed, assigned to nobody

[2014-10-15 18:53] #72 closed, assigned to nobody

[2014-10-15 20:01] Denco96 opened #84 "ADD - Ability to use mouse iin the keys menu"
Sthalik is it possible to make mouse buttons mappable in the keys menu.

[2014-10-15 22:30] #84 closed, assigned to nobody

[2014-10-17 03:31] #46 closed, assigned to nobody

[2014-10-17 03:59] #61 closed, assigned to nobody

[2014-10-17 04:00] #74 closed, assigned to nobody

[2014-10-17 04:16] #73 closed, assigned to sthalik

[2014-10-17 04:18] #65 closed, assigned to sthalik

[2014-10-17 04:19] #62 closed, assigned to sthalik

[2014-10-17 04:19] #44 closed, assigned to nobody

[2014-10-17 04:19] #77 closed, assigned to sthalik

[2014-10-17 04:20] #69 closed, assigned to sthalik

[2014-10-17 04:22] #82 closed, assigned to nobody

[2014-10-17 04:24] #57 closed, assigned to nobody

[2014-10-17 18:47] #79 closed, assigned to nobody

[2014-10-18 06:03] #47 closed, assigned to nobody

[2014-10-18 06:45] #66 closed, assigned to sthalik

[2014-10-18 07:23] #43 closed, assigned to nobody

[2014-10-18 11:33] FlyingCircus- opened #86 "Issues 2.3-prealpha-20141018_1"
PS3 camera doesn't change resolution (and therefore fps) until you manually set the value in OpenTrack UI when running the tracker. First you have to set its value to a different one than 320x240 and then back to it.

I don't really know how but it happened to me twice that TX offset in center pose suddenly sets to 90 cm. It must be affected by a different setting but I didn't catch it when testin

[2014-10-22 13:37] #76 closed, assigned to nobody

[2014-10-22 20:13] runningman84 opened #89 "build broken"
your latest changes broke the build process:

[code]

[2014-10-24 05:07] #45 closed, assigned to sthalik

[2014-10-27 14:25] KyokushinPL opened #90 "freepie-udp tracker plane of rotation swap, invert, and centering"
According to centering and mapping problem in case of use freepie-udp tracker, could you add mapping and invert options directrly into tracker?

[2014-10-28 06:06] #86 closed, assigned to nobody

[2014-11-01 08:46] #75 closed, assigned to nobody

[2014-11-01 08:48] #89 closed, assigned to nobody

[2014-11-01 08:49] #64 closed, assigned to sthalik

[2014-11-01 08:53] #90 closed, assigned to nobody

[2014-11-04 11:08] PierreMoustache opened #91 "Mapping Editor issue"
Hi guys,
Reporting mapping saving issue since 2.3.

Also discussed here: [Mappings not saving #56](https://github.com/opentrack/opentrack/issues/56)

Same issue, mappings of the 6 axis curves always come back to default when I re-open the mapping editor. Regardless of if I save / save as... / load / run as administrator / change folder / etc...

The .ini file keeps the values when I close the mapp

[2014-11-05 05:50] #48 closed, assigned to nobody

[2014-11-09 21:54] runningman84 opened #92 "build failed due to Shortcuts::keyCenter is private"
The current trunk cannot be build:

[code]

[2014-11-10 06:35] #92 closed, assigned to nobody

[2014-11-10 07:13] #91 closed, assigned to nobody

[2014-11-12 04:09] msticninja opened #93 "Incorrect raw rotation values on PT"
Stable version shows raw rotation values as relatively accurate to real world head movement, e.g. 90 degree head yaw shows ~90 degrees in opentrack raw yaw value. Newest alpha build, rotation values are divided by ~6, e.g. a 90 degree head rotation shows ~15 degrees in opentrack. Seems to affect all axes, using 3 point clip, all settings the same between versions.

[2014-11-12 08:37] asarnow opened #94 "Pitch and yaw axes swapped in stable"
The pitch and yaw axes are swapped in the stable release (for Freetrack protocol). Can "stable" be moved two commits later to "[ANN] Changes from June till 20140919" in order to include the fix?

Right now, some folks in the Il-2 BoS forum are passing around the 2.2a2 build in order to avoid the issue, but many are still downloading the stable release and running up against the issue. The bug both

[2014-11-12 16:35] #94 closed, assigned to nobody

[2014-11-22 00:38] Antmax opened #95 "Request: simple labels for mapping graphs."
Hi, it's come up a couple of times and confused me initially when I first started using it. But the spline mapping graphs for the axis do not make it clear that horizontal is physical head angle and vertical represents virtual.

Would it be possible to add labels or a simple explanation text underneath to make it clear. It's come up a couple of times recently with new people adopting opentrack for

[2014-11-22 21:32] #63 closed, assigned to sthalik

[2014-11-23 11:39] #93 closed, assigned to nobody

[2014-11-23 12:45] FlyingCircus- opened #96 "Feedback OpenTrack 2.3"
Pros:
- Every major problem you encountered in the way from 2.2 to 2.3 seem to be solved. As long as I've tested this release is perfectly usable.
- Former issues, such as the axis inversion I had to apply to yaw and pitch in 2.2, are gone.
- Fewer settings in the UI which I don't miss (I mean: focal length of the sensor for what? Geometric model gives us a completely deterministic system)

Issues

[2014-11-24 18:17] pgoter opened #97 "odd error using protocol freetrack 2.0"
Hello.
I have an edtracker and i'm trying to make it work with freetrack2. It read well the tracker, but the games don't do anyting (tryied with ED and xplane). So i'm tying to make it work with freetracktest.exe

If i run opentrack 2.2, freetracktest just crashed with a lot of "memory access violation 0x000000" errors. With opentrack 2.3rc3, it doesn't crash but don't show any data.

The odd part

[2014-11-24 20:50] Davermouse opened #98 "PT Cap Tracking Discontinuity"
I've been playing with 2.3-rc3, and it's great to see a head tracking project making progress like this.

I'm seeing an issue in PT cap tracking mode where there's a big change in the raw output when my head turns from having the two lower points on either side of the top point to when both are on the same side of the top point. I've attached an image which shows the issue.

As far as I can tell,

[2014-11-27 16:37] #97 closed, assigned to nobody

[2014-11-28 20:12] WolfVantage opened #99 "Stuttery/jittery movement - major issue that I just can't resolve."
Hey Staszek,
I have tried everything - experimented with different settings for hours on end, tweaked everything there is to tweak, including PS3 Eye settings. It's still terrible. A picture is worth a thousand words, so just check out this video comparison: https://www.youtube.com/watch?v=szTdVsXVkAw

Any ideas?

[2014-12-02 18:20] Zulfiqarib opened #100 "X plane 10"
Hi,

 I have an issue and have not been able to find any help.

 I have compiled opentrack and can only use Pointracker.

If I select facetracking the camera is not activated.

I am not sure how to compile the x plane plugin.

Protocol only shows Flight Gear.

Lubuntu

Satellite L755

Thanks.

[2014-12-04 12:43] #98 closed, assigned to nobody

[2014-12-05 16:38] MathijsG opened #101 "EZCA got removed in newest unstable version"
The EZCA option in the Freetrack protocol got removed, while this setting is needed in for example the game Rise of Flight, which is still used very much in combination with OpenTrack. Without this setting you just get 45 degrees pitch instead of the full 90. Can you guys put this back in the software? Many thanks :-).

[2014-12-05 16:48] #101 closed, assigned to nobody

[2014-12-05 17:05] MathijsG opened #102 "Make position when pressing Start the default position."
In FaceTrackNoIR, when I press start the software implicitly marks my position of that time as the default starting position (like if I pressed the center button)

In this software however it uses a theoretical starting position everytime instead of my position.

The thing is, I have a tracking clip, but the clip isn't that horizontal as theoretically should be, because I have mounted it to my hea

[2014-12-05 17:35] #102 closed, assigned to nobody

[2014-12-06 13:03] #95 closed, assigned to nobody

[2014-12-07 00:56] sasam opened #103 "Map Keyboard shortcats (Center & Toggle) to joystick buttos"
Is it possible to add  "Keyboard shortcuts" mapping to arbitrary joystick buttons?

[2014-12-08 10:15] #103 closed, assigned to nobody

[2014-12-08 17:54] albertolg opened #104 "Minimize to tray"
Windows 7 x64, when I check the box minimize to tray and then minimize the window, doesn't appear any icon in the tray bar and you can only close opentrack by killing it in the task manager

[2014-12-08 21:15] #104 closed, assigned to nobody

[2014-12-13 23:08] ZanderAdam opened #105 "Windows Phone tracker created"
Hello,

Inspired by the Android version, I have created a windows phone version for head tracking

https://github.com/ZanderAdam/OpenTrack.WindowsPhone

Hoping to have it added to the Wiki page for for those besides Android devices.

Also wanted to check if its alright using the pink octopus as windows store logo :smile:

-Aleks

[2014-12-13 23:24] #100 closed, assigned to nobody

[2014-12-14 00:35] #105 closed, assigned to nobody

[2014-12-14 23:06] forteh opened #106 "Z axis whilst yawing"
Hi,
Up until recently I used freetrack, however it just stopped being recognised in arma3 (for some inexplicable reason - I suspect it is due to a recent game patch) so I installed opentrack to test out against facetracknoir.  I very much prefer the gui and setup of opentrack, it also works incredibly smoothly ingame using the ps3eye and a 3 point ir clip.

I have an issue in that when yawing I ge

[2014-12-18 09:18] #99 closed, assigned to nobody

[2014-12-18 11:32] PixelPolish opened #107 "2.3 RC6 axes completely messed up"
It would be difficult to explain with a wall of text, so here's a video: https://www.youtube.com/watch?v=iPx0QExawZY

[2014-12-20 16:21] Atomiser opened #108 "Opentrack Feedback, Bug?, and Suggestions for improvement."
Hi,

I'm not over familiar with the relationship between Freetrack -> FacetrackNoIR -> Opentrack, but I assume they're pretty closely related?

Anyway, I'm finding both Freetrack and Opentrack pretty much unusable which is very disappointing.

My hardware, is a PS3 Eye Cam (IR filter removed) and a 3 LED clip very close to the default model dimensions. I've found no significant difference between

[2014-12-22 23:46] denilsonsa opened #109 "UI suggestions for 2.3"
Hey, I just tried 2.3 RC6, and I have a couple of suggestions:

* That octopus image rotates following the head tracking. That is great, but also a bit confusing, because it has zero depth. Adding some extrusion (so that it looks like a thin box, instead of a piece of paper) would help. Alternatively, adding some perspective would also help.
* (minor) That octopus image could be rendered with anti

[2014-12-23 22:29] Gpinchon opened #110 "FreePIE+Opentrack issue"
Hi,
I'm having an issue when using FreePIE with my Smartphone. When I look up (pitch+) the view starts to rotate slowly, and when I'm looking straight forward it sometimes start to drift randomly...
The strange thing is that the raw data seems correct and is not changing at all, but the game data keeps slowly changing, Opentrack seems to slowly/randomly increment or decrement some values. Everytim

[2014-12-24 00:32] blueeagle69 opened #111 "5 Button mouse reset"
Could you add mouse support to centre/toggle tracking etc.
I understand a standard mouse would be no good as it is in use most of the time.
But being able to map to extra buttons on a 5 button mouse would be useful.

[2014-12-29 23:45] streppa opened #112 "Pitch jumping on yaw"
Tracker: PointTracker 1.1
Protocal: freetrack 2.0 Enhanced
Filter: Accela
Model: Cap

First time user on opentrack so I apologize if this isn't actually an issue, but it doesn't seem like correct behavior. I couldn't find a solution to the issue I'm having.

When I yaw to the left or to the right and a reach a certain threshold the position of the "head" changes and causes the pitch to jump. The t

[2014-12-30 06:10] #111 closed, assigned to nobody

[2014-12-31 01:39] INemesisI opened #113 "Mouse emulation suggestion"
Hey,
i would like to use the mouse emulation to translate movements of my phone (FreePie) into FPS games (for a cheap oculus rift). Most FPS games calculate the dx and dy values of the mouse relative to the center of the screen and set the position of the mouse back to the center.
Since the emulation software then sets the position of the mouse to a absolute position again, those dx and dy values

[2014-12-31 12:38] LuCiPh33R opened #114 "2.3-rc7: axis remapping appears to be non-functional"
Firstly, great software!

Using freePIE-UDP with my Nexus 4 and 2.3-rc7, I have no problems getting it to work in Elite:Dangerous.  While I can invert and un-invert axes on the fly, and the raw game data updates as appropriate (confirmed in-game), the axis re-mapping settings appear to currently be ignored.

[2015-01-02 20:02] forteh commented on #106
After 4 days of finally sorting the mother in laws computer!!! Repainting the bedroom I have a chance to check on these calibration axes :)

When I autocalibrate using yaw and pitch only I get the following results
x -111
y -75
z 73
The red cross appears roughly in the correct position of centre of neck rotation.

With +/-30° yaw applied
Tx     -10 with +30° yaw only
Ty     +/-4
Tz     +/-10
Pitch

[2015-01-03 00:48] FlyingCircus- commented on #106
We all agree about the x coordinate inversion, but it doesn't mean the other axes couldn't be also inverted as suggested by forteh. I made tests with x and z coordinates (somehow assuming the sign of y axis was unmistakeable), and I got negligible differences when inverting the z coordinate. I will try to confirme what forteh says when I have a chance.

[2015-01-03 05:31] leesan43 opened #115 "Yaw Autocentering"
I've just started using opentrack, and I'm having an odd issue.  Whenever I turn my head left and right (adjusting yaw), after the turn the value begins to autocenter toward ~40.  The other axes don't have this issue, just the yaw.  It seems to be affecting the raw data, not just the game data.

I'm running using FreePIE on a Nexus 5 with Android L installed.

[2015-01-03 05:59] leesan43 commented on #115
It seems the issue has resolved itself, as I no longer get this issue.

[2015-01-03 05:59] #115 closed

[2015-01-03 09:07] forteh commented on #106
I should have added that whilst inverting polarity on all three axes cures the cross axis motion, it puts the red cross approximately at the top of my head.

I'm not 100% sure if it is inline with my neck or off to one side, without removing the visible light filter from the camera I can't tell. If I find time from decorating I will look into it.

Perhaps if the autocalibration results are inverte

[2015-01-04 19:46] FlyingCircus- commented on #106
@forteh The position of the red cross suffer from the same inversions as the centering values: I bet the red cross was on one side of your head when you set them up manually. I made my own tests today and I barely could notice any difference when inverting y and z centering coordinates (maybe because those values are very close to 0 anyway), but I'm inclined to think forteh is right and all axes s

[2015-01-04 19:54] FlyingCircus- commented on #113
I'm not sure if what you're describing is just the motion drift inherent to the innertial trackers. Accelerometers aren't completelly accurate and work in a relative basis, as you're suggesting. I believe you need to set up a centering key (through the shortcuts menu included in OpenTrack) to re-center the view when the drift is becoming too high.

[2015-01-05 15:11] mm0zct commented on #113
I think I agree more with INemesisI's interpretation of the situation. With a gyro based tracker you get absolute rotation drift over time, so forward is no longer exactly forward, but if you stand still the view will always be still (to within the noise of the sensor and you're ability to actually remain stationary).

I noticed this behaviour with Freetrack before but only really used Opentrack f

[2015-01-05 15:16] FlyingCircus- commented on #113
Very clear explanation, I see the problem now. Ignore my previous input.

[2015-01-05 21:12] sthalik commented on #109
It doesn't look well in the UI unfortunately. It stands out compared to the rest of the interface.

[2015-01-05 21:28] sthalik commented on #96
And you have right SimConnect SDK for that version as well? Opentrack is known to work with FSX, and it's hard to say anything meaningful without performing voodoo on the target computer.

[2015-01-05 21:29] sthalik commented on #106
It looks like @forteh is right here too. Shows on the videos.

[2015-01-05 21:39] sthalik commented on #113
We should use angles 0->180 converted to integers of 0->resolution for keeping deltas. Floats shouldn't be used. Queried mouse position should only be used for updating it.

TL;DR mouse shouldn't drift from center due to its imprecision.

@mm0zct cool!

[2015-01-05 21:44] sthalik commented on #114
Fixed, thanks for the report!

[2015-01-05 21:44] #114 closed

[2015-01-05 21:45] sthalik commented on #112
Thanks. I need the model coordinates too.

Curious, does it work in freetrack?

[2015-01-05 22:00] sthalik commented on #107
Fixed by now.

[2015-01-05 22:00] #107 closed

[2015-01-05 22:13] MathijsG commented on #109
Can't you just make a greyscale image if the tracker isn't active?

[2015-01-05 22:19] FlyingCircus- commented on #109
That could be an easy solution. I'm kind of an amateur with photoshop but if you make good suggestions I can try my best.
Happy new year you all, btw!

[2015-01-05 22:21] MathijsG commented on #109
Here you can download the original vector (unlimited resizable) image of the octopus: https://www.vectoropenstock.com/download-vector/598/free-vector-art-octopod if you need some help with making a greyscale version just ask me.

[2015-01-05 23:11] WilltheNinja opened #116 "No connection between phone and opentrack"
using the android phone tracking guide I tried to set up freetrack with a HTC desire X. they are both on the same wifi network (PC is ethernet) and I have done something similar using an IP webcam. the phone doesnt seem to send any information at all as no raw tracker data or game data comes through

any help?

[2015-01-06 09:10] lama33 commented on #96
Yes, that was the problem. I fixed it by reinstaling simconnect from
FSX\SDK\Core Utilities Kit\SimConnect SDK\LegacyInterfaces\
I had to reinstall all versions, RTM, SP1 and XPACK, in that order, when I instaled only XPACK, the error was still there.
However, the system (Win7) was reinstalled before instaling FSX from steam, there was not any other install of FSX or P3D.
Thank you for this great

[2015-01-06 09:54] forteh commented on #106
Good stuff :)

On a slightly unrelated issue....

I am building a head tracking setup for my brother in law for use in elite, he doesn't use a headset so going to make a cap mounted unit.  Are cap mounted point models any worse than clip?  I can probably design a clip that will work with a cap but if the traditional cap models are similar tracking performance it would be simpler to implement.  Can

[2015-01-06 09:57] Trooph commented on #106
Noob question. Is it possible to download just those 2 changed files switch them in RC7 and start testing?

[2015-01-07 10:31] FlyingCircus- commented on #106
@forteh From my experience with freetrack I know the cap model is perfect for IR tracking. It's actually a very similar setup to the clip model, more symetric (worse) but with dots usually separated by higher distances (better). However, current OpenTrack version presents the issue discussed in #112 for cap models, which hasn't an easy fix for the time being.

@Trooph Those are source c++ files, s

[2015-01-07 11:28] forteh commented on #106
Well I would prefer to set him up with opentrack over freetrack so will probably fabricate a 3point clip that attaches to the side of the peak.  Infact, thinking about it I just bought 10 ir leds so have enough spare to build both options and he can mix and match; I am also making a clip for another friend but I know he uses headset so can use the spare clip if the 3point cap works well enough :)

[2015-01-07 21:40] Sk1dmarks opened #117 "Not compatible with 64bit games?"
I hoped this software would work with the 64 bit version of rFactor 2, but it looks like it does not. Will it be compatible in the future?

[2015-01-08 11:25] sthalik commented on #117
There's no freetrack version for 64-bit executables. We could compile it for 64-bit if only some apps used it.

[2015-01-08 13:49] sthalik commented on #108
There are no valid issues raised here. Closing issue.

[2015-01-08 13:49] #108 closed

[2015-01-08 14:03] sthalik commented on #116
Other than checking that right tracking source is used -- should be "FreePIE IMU", that port is right, and IP/port are right on the sending side, there's no simple answer. You might want to grab Wireshark and see if there's data coming but that's overkill for a simple issue.

[2015-01-08 15:14] forteh commented on #106
For further information I had a chance to properly test it out in arma3 last night and with the inverted autocalibration settings it works perfectly.  Tracking is very responsive, movement is super smooth and there is no cross axis motion evident at all, very happy :)

[2015-01-08 16:34] sthalik commented on #106
@forteh please check rc8 if inverting after calibration is no longer necessary. I've tried @FlyingCircus-' video but it isn't representative of all use cases. Calibration code from 2.2 is use pretty much verbatim but there could be an error lying out anywhere, typical of programming.

[2015-01-08 16:58] forteh commented on #106
I'll try to test it out later on tonight.
Is it recommended to reconfigure the settings from scratch or should it be sufficient to load in my profile config from RC7?  Either way I will retest the autocalibration and see how it works in comparison to my current RC7 setup.

[2015-01-08 17:36] sthalik commented on #106
No need to redo any settings. Their list is stable in 2.3 for a while now.

[2015-01-08 20:17] forteh commented on #106
@sthalik, I've had a quick play with RC8 and initially it was all over the place with Tx and Tz fixed to -99 on game data and no recorded raw movement.  Running the auto calibration didn't fix this, neither did setting my working RC7 calibrations.

Restarting opentrack released the Tx (but still locked the Tz), restarting a second time seemed to initialise all axis and it autocalibrated correctly

[2015-01-08 20:50] sthalik commented on #106
Hey, you haven't said which of XYZ are inverted on display. Is it just Y or Z too? Please specify.

[2015-01-08 21:02] sthalik commented on #106
As for your first issue, autocalibration didn't reset its values to zero prior to calibrating. Unless these values are zero, the result is nonsense. I'll fix that in another update batch.

For the second issue you haven't said which of the XYZ directions are wrong. Please specify.

[2015-01-08 21:03] forteh commented on #106
All three axes are inverted compared to my Rc7 manual settings (110x; 75y; -75z) which work perfectly. The Rc8 auto calibration results in the clip being properly calibrated and gives equal motion results to my Rc7 settings, however the red reference position is inverted, it should be on the other side at the bottom.

If I manually invert all three axis the red point is displayed in the correct ph

[2015-01-08 22:38] amigastar commented on #96
Hello,
i have a question regarding opentrack 2.3 rc8 and basically every unstable release.
now i know they are beta or even alpha but i'm wondering why the curveadjusting makes always this mistake, basically a zigzag. is there a way to prevent it, or something?
![curves](https://cloud.githubusercontent.com/assets/8751716/5672269/5484a16e-978f-11e4-9320-af326734ad4c.jpg)
otherwise no compaint, open

[2015-01-09 10:27] forteh commented on #106
Something like this :)
The white ball is to represent the reference point of the clip.
If you want to use these renders feel free, if you want to make any changes to the model then I can.  I'm not sure if the axis polarity I have set is correct with the calibration in opentrack but it is quick and easy to edit the text and re-render the images.

![icon isometric](https://cloud.githubusercontent.co

[2015-01-09 10:53] forteh commented on #106
Or perhaps this works better? Now you can reference in relation to the face which axis the reference point is +/- on.
I've flipped the X axis polarity as I realised it didn't align with how the raw tracker reads.

![icon isometric rev 1](https://cloud.githubusercontent.com/assets/10188849/5678726/18dc8948-97ed-11e4-837b-333bfbd5183a.JPG)

[2015-01-11 15:11] Len62 opened #118 "Allow for binding joystick buttons to keyboard shortcuts"
First, I love opentrack and use it exclusively. Is there a way that the "key" options can be set to include the alphanumeric keys as it was in 2.2?

[2015-01-12 11:22] Gpinchon commented on #110
I am using Accela. But after looking into the issue, I saw the drift only happened randomly...
I think it could be due to the phone recalibrating its Magnetic sensor when turning the head on all axis several times (like it's supposed to do)...
So I think there is no fix, except perhaps from the FreePIE creator to find a way to use an other sensor than the Magnetic Sensor for rotating...

[2015-01-12 11:28] KyokushinPL commented on #110
@Gpinchon You mounting phone into headset with speakers?

[2015-01-12 14:48] exirous commented on #96
"" - PT tracker dynamic pose resolution removal, it never worked right"
Thats Really,Really bad =( Cant use OpenTrack Anymore, because now if i look forward-right-down, or back-left-down - the tracker suddenly goes into some weird angles. (3 point cap configuration)
And earlier versions did not have 180 degrees.. i dont know what to do anymore =(

[2015-01-12 15:01] FlyingCircus- commented on #96
@exirous Known issue, discussed in #112. My impression is dynamic pose resolution code traces were all around and were cleaned up for maintenance reasons. I trust @sthalik will get a fix for this on its due time. In the meanwhile you might use the older versions.

[2015-01-14 03:36] ZanderAdam opened #119 "Windows Phone"
Finally got down to submitting Windows Phone Open Track to windows store:

http://www.windowsphone.com/en-us/store/app/opentrack-head-tracking/1c604f32-6d68-40ef-aa44-3163e30f547f

Please add to the tracking sources when you have a change.

Why it took so long? Was stuck in 34th century (WAY too much Elite Dangerous)

-Aleks

[2015-01-14 09:15] jorgen41 opened #120 "Mouse emulation"
When mouse emulation is selected the mouse just centers and freezes. cant move pionter either in windows or ingame.

Tracking works in Opentrack..

Using:
Running Opentrack with Admin
windows 8 64bit
Opentrack 2.3-rc8
freepie IMU in android 4.4.2

[2015-01-14 09:21] KyokushinPL commented on #119
Good work man!

[2015-01-14 10:48] mm0zct commented on #120
This is related to another recent bug/feature change request I'm investigating when I get a minute.

Basically OpenTrack uses absolute mouse emulation - every tracker update it puts the mouse where it thinks it should be, and moves this based upon the sensor input (be it face track, oculus rift, point track etc.). This has the side effect of over-riding all other mouse input. I'm hoping to switch

[2015-01-14 10:57] jorgen41 commented on #120
Exacly what i wnted :-) Changing the behavior would open up Opentrack to a pletora of games. I have tryd with like wifi mouse on my phone and the likes and it works kind of well.

[2015-01-16 21:18] hduregger opened #121 "Add a Start/Stop toggle key binding for completely resetting the tracker"
I would like to propose the addition of a toggle key binding to the _Start/Stop_ functionality of the tracker to allow completely reset tracking from inside a game. I can alt-tab out of the game, _Stop_ then _Start_ and alt-tab back into the game. But this is of course no good solution when flying a helicopter.

A few reasons

* In only a few seconds of virtually looking back over the shoulder in

[2015-01-18 10:06] KyokushinPL commented on #121
You have Keys tab and there you can add button for stop/start tracking, center headtracking and reset.

[2015-01-18 11:07] hduregger commented on #121
As far as I can see

* Center: zeroes the game data once to a new reference value and keeps updating the game data
* Toggle: toggles between
  * freeze the current game data
  * update the game data
* Zero: toggles between
  * freeze zero as the current game data
  * update the game data

The current three options don't reset the tracker, they only influence the game data.

As far as I remember in

[2015-01-18 12:47] sthalik commented on #106
There's something wrong on the calibration side, not the display side. Having the red cross close to the middle of the screen results in -16 units of X. It should be very close to zero in that case. The cross positioning works fine, as in the zero case it occludes the LED's green cross.

That said, I need more time with it that involves thinking, not flipping the signs and hoping the issue's final

[2015-01-18 12:50] sthalik commented on #110
@Gpinchon for phones with gyro hardware it should work. There's tooling for Android apps that uses all three sensors and we're using that.

[2015-01-18 12:53] sthalik commented on #96
@amigastar add another point for a minimum of four. The code requires as much and we're just fooling it if there are less than four.

@exirous the response for dynamic pose removal was so negative I'll put it back on before final release.

[2015-01-18 19:46] forteh commented on #106
I'll have a play later and see if I can get a video of the calibration with pitch and yaw :)

Surely the position of the red cross relative to the centre of the screen is immaterial as this depends on where the camera is in relation to the clip. The dimensions shown above are correct once the polarity of the axes are reversed.

[2015-01-20 00:07] forteh commented on #106
Here is a capture of the calibration, as said it results in good tracking and it all works perfectly.

https://www.dropbox.com/s/rgkcimuvgyod6pc/opentrack%202.3-rc8%20calibration.xesc?dl=0

With a little further testing I can confirm that the red cross position is on the correct side of the head (the view is mirrored on a ps3 eye but I couldn't tell that with the visible light filter fitted).

Wha

[2015-01-21 22:50] hduregger commented on #121
In facetracknoir 1.7 the shortcut key option for "Start/stop" has the additional options to "Zero" or "Stay" the view when off and to "Stop tracking" or "Keep tracking" when off.

![Keyboard shortcuts in facetracknoir 1.7](http://i.imgur.com/ha1QPAw.png)

Sidenote:

Looks like my judgement was too fast. I tried facetracknoir 1.7 again, and I seem to get a better results there. Additional to the pr

[2015-01-21 23:06] prisonier opened #122 "Gain/exposure setting in PointTracker tracker"
In FreeTrack 2.2 (the soft, not the tracker) we was able to set the exposure/gain directly from the GUI. Now i have to do it in the driver software of my PS3 eye. The driver i use is code laboratories.

cheers !

[2015-01-22 01:05] forteh commented on #122
That shouldn't really be a problem though, I set my cl test to minimum gain, maximum exposure and opentrack works perfectly with the 3point ir clip.  I've never altered the camera settings, the above gives great point extraction and with a piece of floppy disk film over the lens as a visible light filter I can use it in any light conditions I want :)

[2015-01-22 01:15] prisonier commented on #122
Hello !

I don't have a floppy disk filter, i'm using a film.

" I set my cl test to minimum gain, maximum exposure"
so you had to change it too :)

Now i've understood that i can change those settings in the CL driver but it took me more than 1 hour (yes i'm very dumb sometimes). I'm sure that centralizing all settings in 1 GUI is a good practice and will make new comers life easier.

[2015-01-22 10:12] forteh commented on #122
I think opentrack works just fine with it set to the default auto settings anyway, I just like to fiddle and mess with stuff; hence the home built head tracking, the wall mounted overclocked pc, gpu cooler hacked from a previous generation card and usb converted tm rcs rudder pedals :D

I suppose if the camera was going to be used for multiple functions then it might be worth having application sp

[2015-01-22 14:37] nabblschnur opened #123 "Opentrack should recenter everytime when hitting Start (or implement new button for it)"
This is just a small suggestion which resulted out of my own stupidity.

I honestly didn't know that you can "recenter" the Inputvalues again by just binding to it in the "Keys"-Tab. I tried to use opentrack a lot but came back to FacetrackNOIR instantly because I didn't know that you can recenter your view in Opentrack (what resulted in me trying to use the options in the mapping tab and manually

[2015-01-23 22:15] alowva commented on #112
I'm having the same problems, noticed the other user hasn't replied. heres a video with cap coords

raw video capture: http://youtu.be/MG_7ln7kvww   https://www.dropbox.com/s/8rohpicrd0f4d95/3.cap_capture.mp4?dl=0

CAP calibration http://i.imgur.com/89c3Dd4.png

can't test on freetrack as it crashes on me, however it works fine win facetracknoir with the point tracker plugin and freetrack game pro

[2015-01-23 23:24] FlyingCircus- commented on #112
Dynamic pose resolution will be back according to sthalik and it should fix this issue. Be patient folks

[2015-01-24 07:44] lama33 opened #124 "1LED / 2DOF mode possible?"
Hi, is there a way to setup this in opentrack? My friend want some headtracking and he is fine with only pitch/yaw control.

[2015-01-24 15:01] sthalik commented on #106
@forteh The unit of model coordinates is the same as the one used to specify model's size. It's relative to the reference point.

Regarding axis sign, pose estimation uses a different set of coordinates as per this comment
<code>    // translate rotation matrix from opengl (G) to roll-pitch-yaw (E) frame
    // -z -> x, y -> z, x -> -y
</code>
and using it verbatim Just Works. Flipping a sign woul

[2015-01-24 15:13] sthalik commented on #119
Linked to from project README, thanks!

[2015-01-24 15:13] #119 closed

[2015-01-24 19:40] prisonier commented on #122
The camera is dedicated for OpenTrack and it did not work with default settings.

I don't realize how much it is complicated, i juste suggest it because it was in FreeTrack settings. :)

Anyway, everything is working nice today

[2015-01-25 11:56] alowva commented on #112
Thanks for the info. Just trying to help any way I can :)

[2015-01-25 20:59] Gpinchon commented on #110
@KyokushinPL Yep, I am mounting it with face up.
@sthalik mine has gyro and magnetic sensor, but I guess magnetic sensor keeps recalibrating when moving my head around various axis several times, I have not found any way to avoid that, I guess I am moving my head too much... :-/
Anyway, I stopped trying to get it to work properly, it's sad because it is very amazing to be able to move my head arou

[2015-01-26 09:29] KyokushinPL commented on #110
@Gpinchon maybe magnets in headset interfere magnetometer readings in smartphone.
Try it without smartphone.

My magnets interfere too, i can obey it with touching phone to magnets for about 20 seconds. I do not know why, but it helps, maybe phone is recalibrating magneto in some way.

[2015-01-27 16:15] brndd opened #125 "DualShock support"
The PlayStation 3 and 4 controllers have gyros and accelerometers on them. At least with the PS4 controller, these even seem to work on PC.

Is there a way to make these work in Opentrack? The third-party driver (DS4Windows or something) I'm using with the DualShock4 can access the gyro/accelerometer data and even map it to various buttons, but there are not enough axis available to map all of the

[2015-01-27 16:38] KyokushinPL commented on #125
Good idea, but i am curious about weight of gamepad. Some guy on Elite Dangerous forum tried to use ps3 gamepad for tracking and he said it is too heavy to be long term useful.

[2015-01-28 10:40] clawhammer64 opened #126 "Wrong calculation of 3 Point Cap"
Every time i download new version and check how my 3 LED Cap model works.
But always i see same issue. The red line on the picture - thats the stuck for Opentrack, after which begins wrong calculation.

If the original Freetrack software continue YAW without any problems, the opentrack instead make some ROLL or etc. after crossing red line.

And the second question - why from version to version  i

[2015-01-28 14:38] thegreyfawkes opened #127 "OpenTrack affecting keybindings after client & game both running in admin mode"
Hello!

I eventually was able to set up tracking to be (mostly) where I wanted it to be. Once starting Elite Dangerous, though, some custom keybinds to my X52 flight stick are no longer being registered. (i.e. lower hat on flight stick set to up/down/left/right thrusters). The strange thing is...I am able to enter controls in ED and bind the keys again - so the game is recognizing that it's being

[2015-01-28 17:23] KyokushinPL commented on #127
Strange. I have x52 pro and it works without any problems.

[2015-01-28 18:13] thegreyfawkes commented on #127
That's exactly what I've been doing - no profiles, just binding the keys directly into the game. My setup is running from a recently reformatted SDD, so I have had zero issues with drivers this time around. What really gets me is that the keys are bindable in settings > controls...just actually USING them while playing ED with OpenTrack suddenly makes it not work.

I'm going to try switching to va

[2015-01-28 19:26] alowva commented on #126
duplicate issue, posted here a few weeks ago: https://github.com/opentrack/opentrack/issues/112

(not sure if theres a way I can report this as duplicate, so sorry if i have posted redundantly)

[2015-01-28 20:19] clawhammer64 commented on #112
Same issue here. Freetrack working perfect with same model. Is it mean that point track plugin 1.1 need to be fixed?

[2015-01-28 20:24] clawhammer64 commented on #126
Thanks! I'm just remind about it cause new versions have not any changes.

[2015-01-30 10:36] Gpinchon commented on #110
Well, last update fixed the transfered data, now they're correctly transmitted and no drift appears.
Just to be sure that no drift occures because of triggering the compass recalibration, I reduced the amount of head turning necessary by using a combo of headtracking and keys.
For instance, in Elite Dangerous, I use the UI zoom to access side panels instead of turning my head, so I don't rotate my

[2015-02-01 01:18] sthalik commented on #127
For clarity, you don't need to run the game in admin mode. For keyboard shortcuts in opentrack, it's necessary to run in admin mode when the game does.

opentrack doesn't touch joystick input, unless you're using a joystick tracking source. Even then, this is a "background" mapping of the joystick, allowing other apps to use it too.

A far shot but you might wanna see if you're using "vjoy" or sim

[2015-02-01 01:29] sthalik commented on #121
I'd like to avoid doing that for a malfunctioning tracker. Ideally it's the tracker that needs fixing and not workarounds like this.

I've pushed a change to the face tracker, so that extreme poses that are misdetected don't lead to tracking breaking down, along with better mesh position.

But the truth is face tracking is faulty and relying on it for combat flying is just pain.

[2015-02-01 02:45] sthalik commented on #126
Results are different since code now takes camera field of view into account. Due to this translating doesn't affect rotation.

[2015-02-01 02:49] sthalik commented on #112
Closing, notify if dynamic pose resolution doesn't work.

[2015-02-01 02:49] #112 closed

[2015-02-01 02:49] sthalik commented on #126
Closing, notify if dynamic pose resolution doesn't work.

[2015-02-01 02:49] #126 closed

[2015-02-01 02:50] sthalik commented on #118
The key list is too long that way. Is this really an issue?

[2015-02-01 02:51] sthalik commented on #123
It's back in.

[2015-02-01 02:51] #123 closed

[2015-02-01 03:03] sthalik commented on #125
Ideally "DS4Windows" would fuse the sensors to produce rotation data.

Including a device driver in opentrack is wrong from software engineering perspective. It should be its own project.

[2015-02-01 03:04] sthalik commented on #124
Unless you bring working code, no.

[2015-02-01 03:04] #124 closed

[2015-02-01 03:10] sthalik commented on #106
@forteh @FlyingCircus- please recheck this in rc9.

[2015-02-01 03:31] sthalik commented on #105
@KyokushinPL don't bother with FreePIE UDP. It doesn't do anything useful, other than compatibility with FreePIE.

[2015-02-01 10:56] FlyingCircus- commented on #106
I really don't have time for anything today. Anyway, I tested briefly and noticed the automatic centering at the beginning gives me (99, 99, 99) in the translation axes, which makes it unusable until you manually press the centering key again. Dynamic pose resolution on and off didn't have any appreciable effect on the clip model (but you know it's the cap model the conflictive one).

Finally, reg

[2015-02-01 12:06] Trooph commented on #96
Hello. RC9 is great :) But I noticed that when using X and Y axis in game movemets stutter a bit. Meaning they are not fluid.
Also when doing rapid head turns it can cause a bit of a lag in traslating software to game head movements

[2015-02-01 14:07] Stefan-deHoDev opened #128 "Center issue in opentrack-2.3 release candidate 9"
The following change in release candidate 9 interferes with apps/devices that have inbuild center features:
- centering will perform implicitly on first pose received

The problem with this new feature is, the app/device has no way of knowing what opentrack perceives as the center.

My proposed solution:
In Mapping have a checkbox to enable/disable this feature

[2015-02-02 07:06] matskatsaba commented on #120
further problem with mouse emulation
Windows7 64bit
Opentrack2.3-rc9
Tracker: Oculus Rift - HMD
Protocol: Mouse emulation

In mapping window /Options: disable all,except Yaw=Yaw; Pitch=Pitch[Invert]
In Mouse emulation options: Map mouse X to Yaw, Map mouse x to Pitch

When I hit start, it works properly, mouse moves properly to the point I look (more or less).
When I started a game (gta3 san andre

[2015-02-02 17:42] Len62 commented on #118
Not really an issue, just was used to the older version. Thank you for your response.

[2015-02-02 22:30] Ronan6793 opened #129 "Smartphone head tracking Suddenly stopped"
So I have been using this with my Samsung galaxy S5 for head tracking in Arma 2 and War thunder for some time now and all was well until today when I loaded it up and pressed start it doesn't work and I have tried everything from re install to trying my forwarding still nothing. All of my setting are the same as they were yesterday but today it just doesn't work, this is the screen I'm getting now

[2015-02-03 13:24] Stefan-deHoDev commented on #129
Show us a screenshot of your mapping settings (options).
I had a similar problem yesterday, where in "output remap" yaw, pitch, roll, x, y, z were all mapped to x.

[2015-02-03 13:55] Stefan-deHoDev opened #130 "Issue with registry entry conflicting between pre-releases"
I'm testing multiple opentrack 2.3 release candidates. I'm facing the problem that the path for the standard setting file is saved in registry. This means that when configuring opentrack 2.3 rc5 and saving it and then starting opentrack 2.3 rc9, rc9 loads the settings from the path that was saved in rc5.
This gets even worse when rc5 was deleted, because then the path does not exist anymore and we

[2015-02-03 19:47] Ronan6793 commented on #129
Here http://gyazo.com/63fbf2c60958224aa9e2ffe70869ab32

[2015-02-04 07:09] clawhammer64 commented on #112
It doesnt work. Already checked RC9

[2015-02-04 09:44] clawhammer64 commented on #126
It doesnt work, already tested on RC9. Results are same.

[2015-02-04 10:16] alowva commented on #126
works fine for me after the update

[2015-02-04 10:20] clawhammer64 commented on #126
Write me model dimensions please, i'll recheck.

[2015-02-04 15:26] sthalik commented on #120
It's known, will be fixed before release.

[2015-02-04 15:28] sthalik commented on #129
On the screenshot the start button isn't pressed. Could it be the cause?

[2015-02-04 15:34] sthalik commented on #128
Recentering works as usual, there's no loss of functionality. Also, the first pose received is useless without any center applied, as translation values are high.

[2015-02-04 15:35] sthalik commented on #112
Did you enable dynamic pose resolution in PT settings?

[2015-02-04 15:39] sthalik commented on #130
Issue with storing settings in program's directory is when deleting the whole directory.

When you run opentrack the first time, the path stored will be the pathname to where opentrack was run from. Though that depends on drive letter and exact path.

I'll consider using software's current directory as long as it's the one used, so let's leave this ticket open.

[2015-02-04 16:05] Stefan-deHoDev commented on #128
No, you didn't understand the problem. You are right, recentering in opentrack works as usual, but I'm not taking about that!
My own app "Headtrackr" has it's own recentering feature. It asumes that the programm receiving the data uses yaw = 0, roll = 0, pitch = 0 as the center. Now in my app you can, for example, tap the screen and your current looking vector is mapped as 0.

Now with opentrack 2

[2015-02-04 21:43] Ronan6793 commented on #129
"until today when I loaded it up and pressed start it doesn't work" I know it isn't pressed in the screenshot because I had already tryed

[2015-02-06 12:40] FlyingCircus- commented on #128
I'm not sure I understand the issue. I believe the output values of OpenTrack are unlikely (0, 0, 0) with or without the automatic centering on the first pose (unless you're on that pose by a very fortunate chance). However, automatic centering on the first pose isn't working right according to my experience with RC9 (see #106), so whatever is wrong with the first centering could also be causing y

[2015-02-06 12:45] FlyingCircus- commented on #130
I must say I agree with this suggestion. I experienced the same problems when switching between versions,

[2015-02-12 01:08] streppa commented on #112
Just tried it after enabling dynamic pose resolution. Worked a treat! Awesome work!

[2015-02-14 09:29] DaMichel opened #134 "Mapping Scaling Factor"
Hi Stanisław,

i have a little feature wish: i'd like to have numeric input fields to scale the output.

At the moment i use the curves to boost the response way up. E.g. for yaw i have 180 deg for 60 deg raw data. I think i boosted it even further in the games settings. A numeric input field would be very convenient for such scaling. I think the "Output remap" group in the Options tab would be a

[2015-02-14 17:35] Ronan6793 commented on #129
Case closed dont know how it fixed but Its working now

[2015-02-14 17:35] #129 closed

[2015-02-16 16:38] goshops opened #136 "Opentrack freeze upon game launch"
For a while I've been using Opentrack in F1 2014 in the Oculus Rift, however yesterday it suddenly stopped working. Previously I would launch Opentrack, then Vorpx, then F1 and would have no issues. However now when F1 launches it causes Opentrack to freeze which disables headtracking. Running the game in windowed mode however allows some head tracking functionality but it is so laggy that it is u

[2015-02-17 03:48] sthalik commented on #134
We don't intend on accumulating features unless they're really necessary. This one can be done without.

[2015-02-17 04:45] #130 closed

[2015-02-17 04:46] sthalik commented on #136
Not without debug info which is probably overkill to supply.

Have you tried rebooting though?

[2015-02-17 04:54] sthalik commented on #106
@FlyingCircus- red cross has nothing to do with centering in mapping menu. Calibration is done in PT and so it affects both raw and game data.

[2015-02-17 04:57] goshops commented on #136
I figured it out, reinstalling the Oculus runtime resolved my issue.

On Mon, Feb 16, 2015 at 11:46 PM, Stanisław Halik <notifications@github.com>
wrote:

[2015-02-17 05:10] #128 closed

[2015-02-17 05:12] #136 closed

[2015-02-17 05:21] sthalik commented on #96
@Trooph is there nothing filter configuration can do about it?

[2015-02-17 08:57] FlyingCircus- commented on #106
@sthalik I'm afraid we got caught up in semantics, since I was taliking about manually centering the view by pressing the "center view" shortcut. I was arguing against the statement: "Having the red cross close to the middle of the screen results in -16 units of X. It should be very close to zero in that case", which I still disagree. Sorry if I'm mistaken, but the red cross should be located in t

[2015-02-17 09:02] sthalik commented on #106
By virtue of the cross returning close to zero in the middle of the screen it's known that X sign is right. Otherwise it'd be drawn to the other side of the model.

Coincidentally I tested it again on your sample video and the model center now shows on the side of your head, not on the other.

I fail to see a clear rationale for translation originating from the middle point, not the model center.

[2015-02-17 09:17] sthalik commented on #121
The HT face tracker was updated in time for rc9. It should reset on failure faster now.

[2015-02-17 19:03] Trooph commented on #96
@sthalik
I have to set it to extreme to keep "frame jumping" to a minimum. ALso lowering the sliders helps but does not eliminate this. Its most visible with slow movements X and Y axis

[2015-02-17 23:25] sthalik commented on #96
@Trooph then of course you're gonna have extreme lag. In fact the options above 'normal' should be removed since they're exaggerated. There's something wrong with the tracker if it doesn't work on lower settings. Dropbox to low/high and messing with the slider is the way to go.

[2015-02-18 08:52] FlyingCircus- commented on #106
Even so, just for testing purposes Could you make a build with the model x coordinate inverted? That way I can make it fit to the visual center of rotations/translations and compare the two builds thoroughly. Don't rely on my former callibration settings, I'm not sure they were right.

[2015-02-26 13:13] OlHall opened #137 "Newbie How-To?"
Is there any sort of document that describes the process of setting up/tuning head tracking using OpenTrack from a newbie's point of view?

Context: I'm using point tracker, a homemade 3 point clip and a doctored PS3 Eye Camera with the CL Eye Driver (and playing DCS).  Edit: Using Opentrack 2.3 RC9

I "get" how it's all supposed to work, but there seem to be some anomalies in OpenTrack that make

[2015-03-01 13:26] connla opened #138 "sensor data iphone app possible to connect to opentrack?"
Using the sensor data app on a iphone I can send all the gyro data to my pc easily. Packet Sender received them over UDP without issue.

Is it possible to get opentrack to receive the same data aswell and use it to track an iphone like it does an android?

[2015-03-05 11:54] huliqan opened #139 "Hatire Arduino plugin"
Please help to add Hatire Arduino plugin of FaceTrackNoIR in Opentrack
http://sourceforge.net/projects/hatire/

[2015-03-11 11:03] Mirkic7 opened #140 "FreePIE IMU issues when screen in standby"
I'm using Samsung S3 mini with stock ROM.
All works fine while screen is on.
When screen goes off - centering for YAW gets very fast messed up.
However, if I just turn screen on, it immediately resets to proper values.
I've also made a vid of issue: http://youtu.be/vc5zgh7sZQg

Any ides how to fix this?

It's apparent some issue either with FreePIE IMU having some issues when phone is almost in st

[2015-03-13 21:40] sthalik commented on #139
If someone submits working and tested code, then sure. I have no device, so no means of getting it done by myself.

[2015-03-13 21:41] sthalik commented on #138
Sure, use the UDP tracker.

[2015-03-13 21:56] sthalik commented on #106
@FlyingCircus- It's frustrating for me to make so many round-trips with binary builds and conflicting responses. What I'd need is a clip calibration video. The video you gave me long time ago doesn't calibrate on pitch axis, points bleed over each other and there's no tracking there. Without pitch information Y model calibration won't be correct.

[2015-03-13 22:50] sthalik commented on #137
For the first question, in "Keys" menu disable "center in startup" to hopefully get same raw/game data again.

Off-center camera fixed with commit. Will be in next RC.

Documenting the pipeline is pointless since it's subject to change. Right now it's done before filtering, to give the filter information on how sensitive user's axes are.

Adding that detail to mapping screen is only clutter so it

[2015-03-13 22:50] #137 closed

[2015-03-13 23:01] sthalik commented on #140
There are some firmware-specific issues like wifi not working despite wifi lock but in this case looks like sensors return garbage. Screen can't be completely prevented from being turned off with a wake lock since the power button drops screen locks forcibly.

We're doing what can be done on Android to send data and not allow the device to sleep. The platform doesn't allow for more.

[2015-03-13 23:07] #122 closed

[2015-03-13 23:08] #134 closed

[2015-03-13 23:08] #127 closed

[2015-03-13 23:08] #125 closed

[2015-03-13 23:08] #121 closed

[2015-03-13 23:08] #117 closed

[2015-03-13 23:09] sthalik commented on #109
Is it better with the "no video" text or with the frame completely blank?

[2015-03-13 23:10] #96 closed

[2015-03-13 23:11] #110 closed

[2015-03-13 23:11] sthalik commented on #120
Duplicate of #113

[2015-03-13 23:11] #120 closed

[2015-03-14 01:10] MathijsG commented on #109
The no video text makes it very clear in my opinion.

Groeten,

Mathijs Groothuis
Op 14 mrt. 2015 00:09 schreef "Stanisław Halik" <notifications@github.com>:

[2015-03-14 07:36] OlHall commented on #137
Wow...  You probably don't realise it, but you've just helped make my decision to go and spend money on a TrackIR.

[2015-03-14 08:14] forteh commented on #106
@sthalik- was my calibration video above ok? I've been using rc9 since release with no issues, in my opinion the red cross still needs to be flipped in the Y axis if it is meant to represent the base of skull.

Only other comment on rc9 is that you need to manually centre the tracker once it's started otherwise the z translation is fixed at a certain point and is unresponsive until reset.

This se

[2015-03-14 09:21] huliqan commented on #139
I use this plugin with Arduino nano 3 + GY-85 ,and This kit works on a lot of smoother and more accurate than diode frame and Clip! But I have to translate the data out from FaceTrackNoIR to OpenTrack through Vjoy protocol because only it gives me a full review of the overlook of the pitch in BoS (IL-2 Sturmovik Battle of Stalingrad)

[2015-03-16 10:39] zakamik commented on #139
It would be great If anyone could suggest any samples or stubs for new plugin.

[2015-03-17 07:55] ruPaladin opened #141 "Where are all accela settings gone?"
I wanted to try Opentack 2.3 but found that it has less accela settings than 2.2. Also I find microstutter of camera when use it. Please make it possible to change deadband, order 2 and 3, exponent.

[2015-03-17 10:53] DaMichel opened #142 "PT: Head center indicator"
Hello Stanisław,

would you have a look at what i did there https://github.com/DaMichel/opentrack/commit/8f0a2ed30437adf5e384dc593e0fdc75764a0c27

The calculation of the head center indicator screen position seemed very odd to me because it does not respect the rotation of the model. Provided of course it is supposed to do what i think it is supposed to do.

So i changed it, using code from a few

[2015-03-17 14:10] sthalik commented on #141
Back in 2.2 there were too many settings. The way they interacted wasn't easily understood, beyond their obvious function. We're moving toward greatly simplified filter settings.

I don't know what "microstutter" means in this context. Please explain. Also provide your current settings. Maybe it's possible to make it work for you without further code changes, as multiple people were able to use th

[2015-03-17 14:39] sthalik commented on #106
@forteh no, that's not what I need. To test calibration I need a stream from the camera, just like opentrack sees it, so that I can plug it into a virtual webcam.

Center in rc9 happens automatically once a valid pose is received for the first time. The setting itself is a little buggy, and hard to disable. It's fixed in time for the next rc.

[2015-03-17 14:46] sthalik commented on #142
That makes sense, yes. Good catch! I've merged as db7acfc67eda47bf859f8b6bd13bdc0dc2827fd5 to save up on rebasing.

[2015-03-17 14:46] #142 closed

[2015-03-17 17:11] forteh commented on #106
So a video of the same movements but with the cleye test (ps3 camera test software) rather than opentrack? I presume you need a visible light video so not with the filter on the camera, I have a spare ps3eye so I'll see what I can get later :)

[2015-03-18 14:04] birdspider opened #143 "[Q] bluetooth hid"
Hi,

first: FreePie UDP and Android Phone via WLan works nicely :)

but I just out of curioisity: has anyone looked into using Bluetooth (HID?) for rotational control ?
I guess there may be power-saving benefits and maybe lower latency ?

Also: is there a forum/irc channel somewhere to ask without "issuing" it ?

[2015-03-20 06:43] sthalik commented on #143
There seem to be no existing solutions for sending rotation data over bluetooth. We're not supporting new devices that way.

You can't notice the latency. At 60 FPS, it takes 16 ms to render a frame. Ping over wifi is far less than that.

There's no IRC or forum, but it's fine to discuss matters on the bug tracker like that.

[2015-03-20 07:02] sthalik commented on #140
I've been able to reproduce it and there's a workaround available. It could take a while till it makes into FreePIE.

[2015-03-20 09:47] birdspider commented on #143
thx

[2015-03-20 09:47] #143 closed

[2015-03-20 16:33] denilsonsa commented on #140
FreePIE probably already gets a wakelock anyway.

Still, have you tried using the SCREEN_DIM_WAKE_LOCK, by installing [this app][1]? Of course, this will not let the screen turn off, and will eat more battery, but maybe it works better. At least as a workaround until FreePIE gets updated.

[1]: https://play.google.com/store/apps/details?id=eu.thedarken.wl

[2015-03-20 20:04] forteh commented on #106
Try this, not sure why it's playing back really quick but I guess you are able to slow it down to suit :)
https://www.dropbox.com/s/lqqb6jmyxd983ne/opentrack-2.3-rc9%20calibration%20test.avi?dl=0

Now I've had a chance to test it without the visible light filter the is the camera view in opentrack.

![opentrack-2 3-rc9 calibration test](https://cloud.githubusercontent.com/assets/10188849/6759944/0

[2015-03-20 20:54] Denco96 opened #144 "Opentrack 2.3 release not working"
Even though the old 2.2 release is working for me I can't get the new version to work with delan clip. When I press start I get my normal three points but another red point right of them. Checking the main tracker option it says extracted points: 3 OK. Main tracker is PoinTracker and the protocol is FreeTrack. I'm using the same settings as in 2.2 release so I see no reason it is not working.

Raw

[2015-03-22 10:03] forteh commented on #144
Have you calibrated the clip in the tracker settings?

[2015-03-22 19:06] Denco96 commented on #144
I tried but the movement is not translating.

[2015-03-22 19:20] forteh commented on #144
Try creating a config from scratch, it's possible that a setting has translated badly from the earlier version. Also manually resetting and centering the tracker might help.

[2015-03-22 20:28] Denco96 commented on #144
I've completely reinstalled it without any profile settings. What I meant with the above was that I was using the same settings in the main tracker than in previous version. Here is a picture of the issue I think is causing this.

http://i1251.photobucket.com/albums/hh544/denco2/OpenTrack.png

Please note that if I try to run the previous version of OT 2.2 it works without issues.

[2015-03-22 20:31] Denco96 commented on #144
Ha. I misslooked that the new version creates a Test folder and stores all the settings there. Its fixed now :)

[2015-03-22 20:35] forteh commented on #144
Do the tracked points move and alter the raw tracker data? It looks as though it is using the calibration from your previous settings.

The red cross denotes the centre of head movement (base of skull), with rc9 the auto calibration inverts the Y coordinates of this and displays it above the head.  What happens when you click the auto calibration button?

[2015-03-22 20:38] Denco96 commented on #144
I cant find the auto calibration option but I did managed to fix my issue with deleting the test folder.

[2015-03-25 14:20] sthalik commented on #144
What test folder? It shouldn't be happening. We're using last directory a config was saved to.

[2015-03-25 14:52] sthalik commented on #109
Thanks for your involvement.

[2015-03-25 14:52] #109 closed

[2015-03-25 15:12] sthalik commented on #140
In the meantime you can use this version <https://www.dropbox.com/s/kv4nrw2p3gw7ptz/app-release.apk> and confirm if it works. Just keep in mind it's signed with a different key and you have to uninstall the official one first.

[2015-03-26 13:27] IvanDolvich opened #145 "Range of pitchaxis"
Hi
In version 2.3 rc9 I am having problems with the pitchaxis. The game I am using is IL2 Battle of Stalingrad. When I'm trying to look up the maximum is around 45 degrees (pitching up).
In 2.2 stable this is not an issue. There I can pitch up around 90 degrees.

[2015-03-26 17:47] forteh commented on #145
Is the tracker still able to track all points when fully pitched up? I believe that if the tracker loses a point it will freeze at that position and restart when it regains the point.

If the tracker registers all points through the full range of motion, have you set the mapping range to full? Are there axis curves that you can control within the sim that might need expanding to suit the output fr

[2015-03-26 23:04] IvanDolvich commented on #145
LEDs are all still visible and the curves are alright and downwards 90 degrees is possible but thanks.

[2015-03-26 23:16] forteh commented on #145
Odd, are you using assymetric axis mapping for pitch? When you pitch up and down does the raw tracker data read the same? Mine pitches up and down 30° equally.

This is my pitch mapping (primarily for arma3 where I want to be able to look up more than down). Nominally the vertical axis is the range of movement in game, the horizontal axis is the range of movement of your head.  Apologies if you al

[2015-03-27 01:09] IvanDolvich commented on #145
Please do not apologize for helping people :)
BTW thanks for your picture forteh.
I am using asymmetric mappings for the axis i have also checked the raw input-data.
With my problem I think centering doesn't help to solve.
Some time ago in the IL2 forums I think I remember a thread that mentioned the same problem as I am having now. One guy there recommended to switch to the "old" 2.2. In this ver

[2015-03-27 09:37] forteh commented on #145
When pitching does the game data value rise up until the peak value on the vertical mapping axis?
For example at approximately +/- 30° pitch my game data values are +120 / - 95 respectively; the tracking point should move up/down the curve (when the tracker is active) to reflect this.

If your tracking point isn't going above 90° on the vertical pitch axis but the curve continues then perhaps you

[2015-03-27 11:08] endermast3r opened #146 "X, Y and Z axis with smarphone headtracking"
Hi guys,
so I finally got the opentrack working with my cellphone, and I find it awesome (much momre smoother than the freetrack I've been using). But my problem is that the X, Y and Z axis are not working. And I don't know if I'm missing something, or they just don't have to work with the smartphone headtracking.
I'm planing to use it for play Star Citizen, where I don't think is going to be a pr

[2015-03-27 19:03] IvanDolvich commented on #145
I see what you mean here. Tanks a lot for your effort.

[2015-03-30 14:15] Len62 commented on #145
Works okay for me in BOS. Make sure on the pitch curve you set the upper limit at 180 deg, not 90.

[2015-03-30 15:48] IvanDolvich commented on #145
Sound like a quite easy solution. And the best is, it works ;)
It didn't come to my mind that you need to set the pitch-curve up to 180 degrees to get the ingame-result of 90 degrees. Thanks a lot!

[2015-03-30 22:31] Len62 commented on #145
You're welcome! I don't remember where I got the info from, may have been here, and it is unusual to set 180 to get 90. Oh well, glad it worked. Happy Flying!

[2015-03-31 03:09] dallinac opened #147 "Feature Request: Mouse Emulation"
I wish that with mouse emulation it wouldn't take total control over the mouse so that if you want to, you can control it with your actual mouse. This also would help with stopping the mouse emulation, since they only way that I can do it right now is alt-f4

[2015-03-31 03:17] sthalik commented on #147
It's changed for the next rc.

[2015-03-31 03:17] #147 closed

[2015-03-31 03:17] #113 closed

[2015-03-31 04:01] sthalik commented on #146
There's so little precision with translation it's better not to advertise the support.

[2015-03-31 04:01] #146 closed

[2015-03-31 04:02] #144 closed

[2015-03-31 04:06] sthalik commented on #106
The video helps a lot. Automatic calibration returns model's center to the left and slightly below. It should be fine.

[2015-03-31 04:07] sthalik commented on #106
I'll release rc 10 later though as FreePIE app for Android has delays.

[2015-03-31 04:07] #116 closed

[2015-03-31 04:09] #138 closed

[2015-03-31 04:16] sthalik commented on #139
Merged in a449babd2d3bd46c0aafe0ed0109a379d65c94f3.

Please check if https://www.dropbox.com/s/ok73ddag92ciym0/opentrack-2.3-PLUS-hatire.7z works. I won't maintain the code long without confirming it works.

[2015-03-31 07:35] zakamik commented on #139
Doesn't work at all, sorry. Tried different ways, without luck. No digits seem to come in.

[2015-03-31 08:09] sthalik commented on #139
There's a status field in tracker settings that shows debug information. It could know what the problem is.

[2015-03-31 08:20] zakamik commented on #139
Status field shows:
tps: 0
Info: HAT START

Will try another sensors later.

[2015-03-31 08:23] FlyingCircus- commented on #106
Glad to see you're making progress. I'm quite busy these days, but I guess I would always make time for some tests if you need them. Don't mind to ask

[2015-03-31 08:52] FlyingCircus- commented on #139
@huliqan I'm curious about your statement about the inertial tracker. Last time I checked I got the impression they were less accurate than the LED clip tracking. Are you getting such good results? Do you emulate not only rotations, but also translations? Does it get an increasing offset if it's not centered from time to time? Not sure this is the place to ask these questions...

[2015-03-31 09:33] sthalik commented on #139
Inertial trackers with no other support don't do translation, no.

Close proximity to magnets ruins the device's operation. How much distance from headphones is necessary, can someone share? Is it bearable to use with headphones?

Drift for a particular axis can be offset by a very mild drift toward center in the tracking software. It's unnoticeable with the hardware's precision.

Level of accurac

[2015-03-31 09:47] zakamik commented on #139
Headphones mounting is possible but depends on the make. Sometimes moving sensor away for 1-2cm removes any influence.

Drift is mostly a product of improper device calibration caused by temperature variation, multiplied by accumulated errors in calculation (floating point). Can be removed or greatly reduced by filtering with side effect of decreased sensitivity.

Difference in accuracy of LEDs an

[2015-03-31 10:02] FlyingCircus- commented on #139
Thanks for your input guys. The lack of translations is a pitty, I'll stick with my LEDs for the moment.

[2015-03-31 12:42] forteh commented on #106
Glad it helped!
As I've said before the rc9 autocalibration seems to work very well although I'm still a little confused as to where exactly the red cross is meant to be - I always assumed that it was intended to denote the calibration centre (which as you say is to the left and below on the photo, physically to the right and below if you discount the mirroring of the ps3eye image).

Looking forwa

[2015-03-31 15:13] huliqan commented on #139
The LED-Clips diode have much worse response in comparison with hatire(hat arduino tracker)!
I completely abandoned the diode clips after tried HATIRE!

[2015-03-31 15:27] huliqan commented on #139
<<Please check if https://www.dropbox.com/s/ok73ddag92ciym0/opentrack-2.3-PLUS-hatire.7z works. I won't maintain the code long without confirming it works.>>
it work ! but just twitches squid-frame

[2015-03-31 15:43] huliqan commented on #139
it work strangely,only if only if the redirect yaw pitch roll to shift X Y Z

[2015-03-31 15:46] huliqan commented on #139
I use
void FTData()
{
  if(Serial.available() > 0)  serialEvent();
//    roll=rollAngle;
//    yaw=panAngle;
//    pitch=tiltAngle;
  yaw=panAngle;
  pitch=tiltAngle;
  roll=rollAngle;
  hat.gyro[0]=yaw-XZero;
  hat.gyro[1]=pitch-YZero;
  hat.gyro[2]=roll-ZZero;
  hat.acc[0]=hat.gyro[0];
  hat.acc[1]=hat.gyro[1];
  hat.acc[2]=hat.gyro[2];

     Serial.write((byte*)&hat,30);
  hat.Cpt++;
  if (hat.

[2015-04-01 07:24] gagagu opened #148 "Mixed tracker aruco/udp for Gagagu VR Streamer"
Hi,
i've written an small virtual reality iOS App for play PC games on a VR Headset like google cardboard on iPhone (more info http://www.gagagu.de).
I'm using the Opentrack with UDP Tracker for Headtracking and all is working really fine. But with my iPhone i only abe to send yaw, pitch, roll data to the udp tracker (x,y,z is always 0.0) because the phone do not have any sensors to measure positi

[2015-04-01 09:46] sthalik commented on #148
Hey,

To build the software, a modern C++11 compiler is needed. Ones known to work are Clang and GNU. You can grab a full compiler/runtime suite for Windows from the mingw-w64 project <<https://sourceforge.net/projects/mingw-w64/files/latest/download>>. Additionally CMake is used to generate the makefiles. Visual Studio is known not to work, as it only supports few features from C++11.

Qt5 is a r

[2015-04-01 10:10] sthalik commented on #139
Please recheck <<https://www.dropbox.com/s/ok73ddag92ciym0/opentrack-2.3-PLUS-hatire.7z>> it should work for angles now.

[2015-04-01 10:26] gagagu commented on #148
Uff, thats hard... firstable thank you for your reply. I don't know i will get it. I will first start to compile the udp tracker and see if its working.

[2015-04-01 10:47] gagagu commented on #148
Hi, where do i find the ftnoir_tracker_udp.h ? thx

[2015-04-01 14:01] huliqan commented on #139
I will test few later. Thanks!!!

[2015-04-01 14:20] huliqan commented on #139
No,as was - work only side shift redirect  and doesn't remove curves-point (yelow from screen-shot)
![1](https://cloud.githubusercontent.com/assets/11330258/6942898/40f59582-d893-11e4-85aa-52de5991c03a.jpg)
![2](https://cloud.githubusercontent.com/assets/11330258/6942899/40f58fb0-d893-11e4-8b2b-10a8851ba730.jpg)
![3](https://cloud.githubusercontent.com/assets/11330258/6942900/40f94bd2-d893-11e4-97

[2015-04-01 20:59] gagagu commented on #148
Hello again, i've made a small template for my plugin and want to compile and link it. The compilation is working without aný issues but the linker is given some Errors. I think he is missing some libs but i do not know which. I've made a small zip with my files for better understanding.
http://www.gagagu.de/ftnoir_tracker_gagagu.zip
If possible it would be great to get some Little help. Thanks Fo

[2015-04-01 22:53] huliqan commented on #139
my test video
https://youtu.be/dNvYSdWc91A

[2015-04-02 00:13] huliqan commented on #139
sorry for the "doesn't remove curves-point (yelow from screen-shot)" it work good! I jast forgot stretch curves window:)))

[2015-04-02 10:02] gagagu commented on #148
Hi, thx but i could not get it to work. Its too complicated for me to compile. Too many options with too many error sources i don't understand. Normally i'm using Visual Studio.

[2015-04-02 10:42] zakamik commented on #139
Doesn't work with my device at all, unfortunately.

[2015-04-02 11:16] sthalik commented on #139
it's a bug that mapping window wasn't forced to exact size. Will be fixed for rc10.

@huliqan setting sensitivity to max gives you more filtering, you shouldn't need more than 1/5 on that scale with an inertial device.

[2015-04-02 11:28] sthalik commented on #106
@forteh it's as you say, calibration center.

rc10 has to wait, in meantime you can see <<https://www.dropbox.com/s/ok73ddag92ciym0/opentrack-2.3-PLUS-hatire.7z>> that has all the PT changes.

[2015-04-02 11:29] sthalik commented on #139
@zakamik if it works on facetracknoir, it'll work here. You could've misconfigured it.

[2015-04-02 13:03] huliqan commented on #139
in zakamik does not work, because in firmware not have redirect
  hat.acc[0]=hat.gyro[0];
  hat.acc[1]=hat.gyro[1];
  hat.acc[2]=hat.gyro[2];
probably
with setting sensitivity in new Accela-filter I've already figured out, thanks

[2015-04-02 13:06] huliqan commented on #139
night shooting video work hatira in BoS

[2015-04-02 20:28] zakamik commented on #139
@sthalik I could have, but I haven't. Tried it on two different trackers - GY85 and GY86. Both successfully tested on FTNoIR. First one is silent dead, second randomly flashes with input data, without any practical result. Will try to make a video later.

[2015-04-03 00:34] huliqan commented on #139
my test videos:
1.opentrack -2.3rc9-30-hatire
2.opentrack -2.3rc9-32-hatire
turns incomplete and don't work key-center
3.opentrack -2.3rc9-32-hatire(redirect yaw>X>yaw & pitch>Y>pitch)
it's works much better:))) but the range of turnings limited program
https://youtu.be/9h18tUJLEUc
https://youtu.be/HwVAKVbg8tU
https://youtu.be/U6GKDpa8zsE

[2015-04-03 00:58] huliqan commented on #139
And were in ver.2.3 settings deadband (dynamic dead zone
![-1](https://cloud.githubusercontent.com/assets/11330258/6976670/a2fbd160-d9b5-11e4-829c-1008ea1486a7.jpg)
)???

[2015-04-03 08:49] sthalik commented on #139
@huliqan deadband has been integrated into sensitivity setting. What's with the turn range though, is this a general issue?

@zakamik Are you able to provide standard error output on the current build? If not, there needs to be a build that opens a console window for that to be easily visible.

[2015-04-03 09:37] zakamik commented on #139
@sthalik if you could give me a hint how can I collect that stderr output - when I start app in console, it simply detaches.

[2015-04-03 09:58] sthalik commented on #139
@zakamik it works when launched in Cygwin terminal, or as Visual Studio attached debugger.

[2015-04-03 10:02] FlyingCircus- commented on #106
I have been testing the version linked in the previous post with PointTracker, so I could benefit from your reworked coordinates for the model position and calibration. It seems all good this time, having the red cross rightly located helps a lot to minimize any cross axes influence you may get.

New Accela labels makes all more understandable. However, I think there’s some small room for improvem

[2015-04-03 10:05] FlyingCircus- commented on #106
To be more precise, those small variations seem to be caused by the own hysteresis of the webcam sensor more than real movements (hence the talk about rendering issues)

[2015-04-03 10:06] sthalik commented on #106
@FlyingCircus- start by setting smoothing to 100 ms, see if it works, if does, try if you can decrease smoothing somewhat. The delay is effectively smaller than 100 ms due to how EWMA works.

You can play with sensitivity too, but sensor noise is better removed with EWMA.

[2015-04-03 10:13] FlyingCircus- commented on #106
Smoothing always helps but those are still dynamic settings more than deadbands. The thing is I preffer to avoid the lag when you increase smoothing (once you get used to semiinstantaneous movements you don't want to get back). I would try EWMA, despite I have been liking Accela much more since Mk4

[2015-04-03 10:30] sthalik commented on #106
I referred to EWMA as the smoothing setting which is using EWMA for averaging.

Smoothing over 100 ms isn't suitable for gameplay, just the general idea of reducing noise. Can you get good enough response time with smaller smoothing time? Keep in mind 16 ms or less isn't filtering 60 FPS video at all.

The EWMA filter is trying to estimate average noise by how much movement there is. I'm not sure

[2015-04-03 10:48] FlyingCircus- commented on #106
What I'm looking for is a way to limit the raw data resolution so noise is not averaged but discarded. For example, if I could only allow raw rotation increments of 1.5º most of my trouble would go away.

[2015-04-03 10:58] sthalik commented on #106
That way it could only work badly. With deadband setting closer to one degree it was obviously visible how gameplay didn't react to minor view adjustments.

I'm confident the filter can work fine without requiring addition of such settings.

To get rid of small amount of noise it was necessary to have huge deadbands, more inconvenient than EWMA here. As amount of noise increases, deadband becomes

[2015-04-03 11:07] FlyingCircus- commented on #106
@sthalik Mmm... I'm not sure if our exprience is different because our setups also are. I sit very close to the webcam so even the slighleest rotations are always translated to several degrees of raw data. However I get noise below the 1º of raw data (which is inapreciable since OpenTrack doesn't show those decimals, but is visible as a single pixel movement of the green crosses and several degree

[2015-04-03 11:13] sthalik commented on #106
@FlyingCircus- I used the paper marker tracker which has more noise inherent in the process. The response was good enough for some gameplay. If anything, your experience with less noisy LED tracker should be less laggy.

One thing you can do is make less sharper mapping settings. If one degree of raw movement corresponds to too much of game movement, the filter can't translate it into precision as

[2015-04-03 11:19] FlyingCircus- commented on #106
Don't get me wrong, my setup works great. I'm just making suggestions for future improvement. I believe raw data deadbands would be a nice addition, if you share the same view at some point I will be happy to see it implemented.

[2015-04-03 20:24] huliqan commented on #139
"What's with the turn range though, is this a general issue?"
I do not know what is the problem, but in FTnoA does not have this issue,and if use FTnoA(hatire)>VJoy>opentrack(joystick)>freetrack :>>does not have this issue too

[2015-04-04 18:05] forteh commented on #106
@sthalik - I have tested the build above and it works perfectly, the red cross is exactly where I would expect it to be :)
Consider this issue closed now if you want.

[2015-04-04 21:31] sthalik commented on #106
@forteh this is great news! Thanks for the confirmation.

[2015-04-04 21:31] #106 closed

[2015-04-04 21:37] sthalik commented on #139
@huliqan I need more info on that. What's the max raw value you can get on yaw? Does it depend on which axis is redirected into yaw?

[2015-04-04 21:44] sthalik commented on #148
There's nothing that can be done about it at the moment.

[2015-04-04 21:44] #148 closed

[2015-04-04 22:00] sthalik commented on #145
Glad you guys figured it out!

[2015-04-04 22:00] #145 closed

[2015-04-04 23:46] huliqan commented on #139
Ok,friend:
if like this
![-1](https://cloud.githubusercontent.com/assets/11330258/6995101/751cdbea-db3b-11e4-9c48-28cc3f104e20.jpg)
max raw value on yaw = 64-67 on pitch = 64-67
![-2](https://cloud.githubusercontent.com/assets/11330258/6995129/f482f666-db3c-11e4-9e45-e88330f12287.jpg)
if redirect axis to shift like this
![-3](https://cloud.githubusercontent.com/assets/11330258/6995139/4fef707e-db3

[2015-04-05 01:11] huliqan commented on #139
hatire redirect axis to shift
https://youtu.be/BhJ5k4sPHKU

[2015-04-07 15:41] zakamik commented on #139
@sthalik I can't install cygwin for some reason, tried in winavr shell, got no output.

[2015-04-08 09:46] doveman commented on #139
I'm using a MPU-6050 sensor and a Pro Micro, feeding a HC-05 Bluetooth module, all powered by a rechargable USB battery and mounted on the top of my headphones. I haven't noticed any magnetic interference from the headphones.

Whilst it sometimes works in FTNoIR, it has a habit of ceasing to produce any output, even though the input is still showing as receiving data, so I presume that's a bug wit

[2015-04-08 10:19] doveman commented on #139
Using rc9-32 and the same Accela settings as shown in huliqan's post from 6 days ago, the raw data is alternating between a + or - value and 0 constantly and consequently the game data is all over the place.

I only have Yaw and Pitch mapped to RotX and RotY respectively but still see game data for roll. I can fix this though by disabling Roll under Mapping - Output remap, so it's not a problem.

[2015-04-08 14:04] huliqan commented on #139
""I haven't noticed any magnetic interference from the headphones.""
magnetic interference may be present only on the sensor with magnetometers (MPU9150, GY-85 ...)

[2015-04-09 15:43] doveman commented on #139
Doh! To be honest, I'm not even sure whether I'm currently using the MPU-6050 or the GY-85 as I bought both (actually two of the GY-85) and tested with both at various times, so I can't remember which one is currently soldered to my board.

Is there any real advantage to having the magnetometer rather than just the accelerometer and gyro?

[2015-04-10 02:38] huliqan commented on #139
with  magnetometer no drift to  X-axis and it is not necessary to calibrate!

[2015-04-10 11:49] doveman commented on #139
I see, thanks.

[2015-04-10 21:32] sthalik commented on #139
@doveman there was a bug with angle scale depending on whether they were inverted in hatire. It's fixed now, same address for the build as before.

[2015-04-12 01:10] huliqan commented on #139
in new build hatire stopped working completely ,if yaw-to-yaw and pitch-to-pitch.Work only redirect yaw-to-X and pitch-to-Y

[2015-04-16 22:30] thmundal commented on #113
When will we see a build including this fix? Is there any where to get the version with this implemented?

[2015-04-17 13:07] Trooph opened #149 "Jumpy on X and Y axis"
Hello Stanislaw. Its been a long time since i posted here.
Maybe its not an issue but its worth pointing this.
After tweaking my accela settings and stuff i managed to do awesome settings. Smooth and accurate as Track Ir. But there is this things that annoys me.
When not moving my head at all tracking keeps going down on Y axis and sometimes to -X axis aswell its a jump of few pixels but its notic

[2015-04-19 05:30] MartinJG commented on #139
Hi Guys, I'm also trying to use the hatire protocol and have similar issues to huliqan. I also seem to have very jerky gathering of data whereas in facetracknoir it is silky smooth.

Anyway, @sthalik, I am more than willing to work on the hatire plugin to try and fix the issues as I have my own Arduino setup. My issue is building the plugin. I have QT, but I can never seem to get a compatible plug

[2015-04-19 12:21] huliqan commented on #139
and I want to add old filter Accela from 2.2 ver.  to 2.3 ver. opentrack
How it's posible?

[2015-04-19 13:55] sthalik commented on #139
@huliqan it's back to where it was before in the current build. Max 65 degrees isn't something obvious in code, you could adjust it with mapping.

@MartinJG actually Qt is the only required dependency, others are optional.

[2015-04-19 17:35] doveman commented on #139
@sthalik Seems my reply disappeared but I tried the new build and now there's no Raw tracker or Game data at all. In the Hatire settings I see tps fluctuating anywhere between 45 and 72 but that's it.

[2015-04-20 00:54] MartinJG commented on #139
@sthalik thanks for the heads up, good to know. Unfortunately, when I run cmake to try and create a project it gets very upset. It even complains about my QT setup claiming it can't find it. It also complains about the face tracking dependencies wtc etc. Any chance you can give me some pointers to get it to build? I can then try and track down the illusory issues.

I haven't had a chance to test y

[2015-04-20 05:53] maxn1780 opened #150 "Not work with NewView"
or I don't know how to do...
(Freetrack works correctly)

[2015-04-20 06:05] maxn1780 commented on #150
ok,false alarm
I had to put the path to the folder TrackIR..

[2015-04-20 09:56] forteh commented on #149
Have you got a small deadzone set at the start of each map curve?  To be honest I don't think I can hold my head perfectly still so as to not give an input to opentrack, I haven't set it up on a fixed point but I'm pretty sure it's rock solid for me.

[2015-04-24 01:40] MartinJG commented on #139
Hi, had a once in a decade storm here in NSW Australia, so been without power for the last 3 days. Back on now so I'll have a good go at compiling the plugin this weekend and see if I can trace any of the issues we are having.

[2015-04-24 23:25] huliqan commented on #139
Hi,Martin!
good luck in the work on the plugin

[2015-04-25 00:36] MartinJG commented on #139
I have had many issues so far lol. First I couldn't compile becasue my compiler is a M$ one and they don't support some of the latest c language revisions. Tweaked the code to get round that. Linked it, go tmy .dll and now it won't run. I think it's cause I compiled against Qt 5.4.1 and this project may use an older Qt version. Gonna search for which exact version this uses. If anyone can tell me

[2015-04-25 05:39] MartinJG commented on #139
Ok, ignore my last pose. Discovered that opentrack isnt really ever going to work with visual studio. Not without too much work. Using MinGW which I guess is what shalik was using. Is that right?

Anyway, after some more blind stabbing in the dark I got it to build. I fixed the first problem I was having with it flicking all the values to 0 every second or so. Is that an issue we all shared (looin

[2015-04-25 09:33] doveman commented on #139
@MartinJG, thanks that's fixed my problem of having no data at all, let alone flickering back to 0. With RotX mapped to Yaw, RotY mapped to Pitch and RotZ mapped to Roll in the Hatire settings (which is how I had it in FTNoIR) and Yaw, Pitch and Roll mapped to Yaw, Pitch and Roll in Output remap, it's working great now.

Also, if I unmap RotZ from Roll, I no longer need to also unmap Roll in Outpu

[2015-04-25 19:28] huliqan commented on #139
@MartinJG, your plugin is realy working!!!First test is very good!!!
Thanks!!!

[2015-04-25 19:56] huliqan commented on #139
a little fly in BoS and feelings of working your plugin-perfect!

[2015-04-25 22:41] MartinJG commented on #139
Glad that it seems to be better. I think all the weird effects had the same reasonably simple cause. I still have a minor issue with getting command timeouts even though they work fine. I think it is caused by the way a qt library function waits. Not an issue really, just irritates me lol!, I was thinking of extending the protocol so you send of gyro, a cel and magnetometer data and then I'd use r

[2015-04-25 23:26] huliqan commented on #139
I tested this plugin in BoS and DCS?and I  did not notice timeouts.
What does this mean?I have everything works great!
sensor fusion accelleration data+gyro in the hat ire plugin-the best idea!Very need!
Thank you very much!!!

[2015-04-25 23:33] MartinJG commented on #139
So my arduino implementation allows me to send specialised commands to it. I use the "about" tab where you can send custome commands over the serial port. Here I noticed that even though my command gets to the arduino device fine, the hatire plugin reports a timeout. It isn't really a timeout, its is an effect I think of us having such busy serial communications in this scenario. I am looking at w

[2015-04-25 23:36] zakamik commented on #139
Just FYI - none of the above versions/plugins worked for me. Atmega328 + GY-85.
I guess some extra feature to see debug output would be nice to have.

[2015-04-25 23:40] MartinJG commented on #139
@zakamik: could you elaborate, when its running, do you see a value > 0 for tps in the general tab of the plugin?

Next, can you try going to the about dialog? On that dialog, do you see anything in the big text window?

I can try and add debug info, I just need to know roughly where your issue might be so I can provide better info in that area.

[2015-04-25 23:41] MartinJG commented on #139
Oh by the way zak, did you take the lates version from my repository, not the dropbox? I am not part of the opentrack development, I am just trying to help so I haven't access to the normal place. If not and you are having trouble getting it, let me know and I'll email you a copy.

[2015-04-25 23:47] zakamik commented on #139
Plugin dll is from repository.
Symptoms are:
- all zeros in both game data and raw data panels
- configuration dialog, general tab: tps: 0, HAT START
- same, About tab: any command results in message "TimeOut in response to CMD", empty otherwise.

[2015-04-26 00:53] MartinJG commented on #139
Ok, that tells me that the serial interface is not seeing valid data or perhaps any data from the device. The "TimeOut in response to CMD" issue I see aswell, It is a bit of a misrepresentation and I will look at fixing it up in due course if I can. Is there any way you can point my at the sketch you are running on the Atmega328. That might help me see the "other side" so to speak and maybe find o

[2015-04-26 03:48] sniperwolfpk5 commented on #141
accela in 2.3 is not stable. There is micro stutter. Can any one bring accela from Facetracknoir. It is the  best which allow you your own settings.

[2015-04-26 06:02] MartinJG commented on #139
@zakamik You will now find a new diagnostic checkbox on the "About" tab. This will create a file called HATDiagnostics.txt in you opentrack installation folder. You need to download the new dll from my repository (https://github.com/MartinJG/OpenTrackHatireTest). Also checkout the readme.md which will give you an idea of the caveats with using the feature.

Let me know how you go.

[2015-04-26 19:22] zakamik commented on #139
Tried with new .dll on GY85 with no success, here is all what I've got in the log file:
`20:46:30.269: Starting Tracker
20:47:05.529: Tracker shut down`
Sketch that I'm using is from this source: https://sourceforge.net/projects/gy80facetrack/files/ My mistake above - MPU is not Atmega328, but 32U4 (Leonardo)

But here is more. Since I have different kinds of sensors, I tried one of GY-86 and got

[2015-04-27 00:56] MartinJG commented on #139
Hi there Zakamik,
I have looked at the link you gave me, can you let me know which sketch you are actually running. The diagnostics file is basically telling me that nothing is arriving on the serial port. It's not a protocol issue because the daignostics outputs the raw received data regardless of if it is valid or not. I proved this on my system, just to make sure.

Typical causes might by RTS/C

[2015-04-27 10:15] gagagu opened #151 "New Plugin Template"
Hi,
i want to create a new Plugin for Opentrack. It should be a mixed Plugin between  aruco and UDP sender (There is aready an issue but its closed and i don't know how to reopen; https://github.com/opentrack/opentrack/issues/148).
I've created a small template to create a plugin (https://github.com/gagagu/ftnoir_tracker_gvrs).

I have som trouble to compile the template. I cannot find the "ui_ftn

[2015-04-27 12:20] sthalik commented on #139
@MartinJG you can send a pull request. Otherwise it requires more work to keep track of change history. We're gonna get it into the tree one way or another.

[2015-04-27 12:29] sthalik commented on #151
The ui header is generated by Qt "moc" during compilation.

In the .dll in your repo there are no "GetConstructor" and "GetDialog" symbols, only "GetMetadata" exists. Open it up with Dependency Walker.

The UI dialog is optional, return NULL in GetDialog. Given you can use a different Qt version, you'll run into crashes otherwise.

[2015-04-27 12:51] zakamik commented on #139
Hello MartinJG,
I use sketch for GY-85 board. It is the same device/sketch that I normally use for flights in WT, so no problem with neither sketch nor COM port driver in general. It also produces binary output if I connect to the port via terminal program.
RTS/CTS as well as software handshaking was tested with zero effect. FTNoIR settings are 115200/8/None/1/RTS-CTS.

[2015-04-27 14:38] gagagu commented on #151
Hi, thx for reply.
A fisrt big step is done. I found out how to build opencv and opentrack. I only got some linking errors but i'm working on. I's very hard to find out which lib files are have to build in.

My project is a copy from ftnoir_tracker_udp without receiving udp data (it only sends "0" for test). The GetConstructor is in ftnoir_tracker_gvrs.cpp and the GetDialog is in ftnoir_tracker_gv

[2015-04-27 15:31] sthalik commented on #151
You can attach your code to opentrack build process. Then you won't have to mess around with manually compiling and linking. The exported symbols listed are not in the .dll in the repo. They exist in working builds.

[2015-04-27 19:58] MartinJG commented on #139
Ok, one thing, my teensy doesn't actually. Need flow control, so I can't test rats cuts easily. Can you open the port in terminal to see binary flow, then  without rebooting device, close terminal and start the plugin. Some of the arguing boards one née to see cuts to start and never check again once running. Meantime I'll look at the code again as a flow control issue is the only thing that I can

[2015-04-27 20:04] MartinJG commented on #139
@sthalik not a gut power user so I'll look into that when I have a moment. Just want to see if I can get to the bottom of zakamiks issue in case there is another bug in there somewhere. Will give myself until the end of this week to get to the bottom of it!

[2015-04-27 20:19] gagagu commented on #151
Hi, thanks for the great tipp. I am able to build the plugin template.
Now i'm working on theplugin code. I've loaded the dll and got the Constructor.

	QString fullPath = QCoreApplication::applicationDirPath() + "/" + "libopentrack-tracker-udp.dll";
	handle = new QLibrary(fullPath);
	Constructor = (CTOR_FUNPTR) handle->resolve("GetConstructor");

Now i have to think about to go further :-)
thx

[2015-04-28 19:28] zakamik commented on #139
@MartinJG unfortunately doing as you suggest is not possible because GY-85 sketch is known for the issue where after port closure the device has to be rebooted to start working again. So if I open the port and then try reopening it without device reboot, it won't work.

What I may suggest is to try different 'Arduino' devices with synthetic output to see if the issue depends on device drivers/hard

[2015-04-28 21:00] gagagu commented on #151
Hi,
i've inserted the udp tracker code into my template and everything is working good.
Now i want to Access the aruco tracker dll by following code
typedef void* (*TRACKER_PTR)(void);

in constructor:
QString fullPath = QCoreApplication::applicationDirPath() + "/" + "libopentrack-tracker-udp.dll";
handle = new QLibrary(fullPath);
if(handle){
 	ptrTracker = (TRACKER_PTR) handle->resolve("GetConstr

[2015-04-29 00:48] MartinJG commented on #139
Hi zakamik, we migh be nearing the issue, but I can't fix it if my suspicions are true. FacetrackNOIR creates the hatire plugin and then uses it. OPenTrack creates the plugin when it's needed. When you stop the tracker, it completely destroys the plugin causing the port to be closed in the destructor. Since I am not in control of when the plugin gets created or destroyed, it's possible that a crea

[2015-04-29 06:41] gagagu commented on #151
Hi,
 i've inserted the udp tracker code into my template and everything is working good.
 Now i want to Access the aruco tracker dll by following code

typedef ITracker* (*TRACKER_PTR)(void);

QString fullPath = QCoreApplication::applicationDirPath() + "/" + "libopentrack-tracker-udp.dll";
 handle = new QLibrary(fullPath);
 ptrTracker = (TRACKER_PTR) handle->resolve("GetConstructor");

ptrTracker-

[2015-04-29 11:47] MartinJG commented on #139
Hi again,

Ok, got home and tried connecting to my ProMicro. It worked fine, but I remembered I had monitored the serial comms in the arduino monitor earlier. Rebooted the device and immediately tried the plugin. It doesn't work. In my case it hangs after I hit the start button, which is a little different to you, but at least there is a problem there I can start to diagnose, which when found, mig

[2015-04-29 11:56] gagagu commented on #151
Hi, got it. I have to insert
link_with_dinput8(opentrack-tracker-aruco) to the CMakeLists.txt

[2015-04-29 12:23] doveman commented on #139
@MartinJG @zakamik, Having tracked down all my components, I can say for sure that I'm using a GY-85 with my Pro Micro currently. I think the problem zakamik is having may be one of the reasons I decided to use a BT transmitter (HC-05) and receiver, rather than having my Pro Micro connected via USB, as it makes the COM port more stable. At least it doesn't change number, requiring editing the sett

[2015-04-29 13:11] davidcastellani commented on #140
I wanted to comment that I have had the same issue using Opentrack 2.3 rc9, with FreePIE IMU on a Nexus 4. I took the advice of @denilsonsa, and installed Wakelock. This has significantly reduced the "drift" I was experiencing. Its not perfect, but it seems Opentrack along with the sensors in my Nexus 4, are able to maintain "center" for much longer periods as long as the device screen stays awake

[2015-04-29 14:57] sthalik commented on #140
@davidcastellani you could check the version linked in my previous post. I'd like to get it included in next FreePIE version and independent confirmation would help.

[2015-04-30 01:19] MartinJG commented on #139
I think the issue we are tripping over here is the way the hardware handshaking is working. I actually have what I think is a fix, but there is a side effect I don't fully understand that I want to look more into first (might be peculiar to me). Hopefully I'll have a new plugin for testing before the weekend.

[2015-04-30 06:53] gagagu commented on #151
Hi,
thanks for your help. I've got my plugin running, now. I've insert the code for apple too, but i cannot test it. I want to release my code and compile dll on my github project.
https://github.com/gagagu/ftnoir_tracker_gvrs

Do i have something to consider in view of license?

Thx

[2015-04-30 07:55] sthalik commented on #151
There are several issues here for Unix. No dlclose call in destructor. Extension is .so, not .dll.

The main executable still contains GPL3 bits. It's best to use ISC license since it's so short: https://github.com/opentrack/opentrack/blob/unstable/ftnoir_filter_accela/ftnoir_filter_accela.cpp#L3

[2015-04-30 08:07] gagagu commented on #151
Hi,
i will update this issues as soon as possible. thx for helping me

[2015-04-30 10:38] asarnow commented on #149
I'm having a lot of spiking in 2.3, even with "extreme" filtering. The deadzones take care of the noise when the view is centered only, there is a lot of jumpiness otherwise.

[2015-04-30 10:39] asarnow commented on #141
I think they are referring to the spike noise - probably this issue should be merged with the 'jumpy' issue.

[2015-04-30 13:22] alemansec commented on #141
Having that issue with 2.3 too (unable to get steady values - semi-random spikes / jumps all the time).
Reverting to 2.2a2 in the meantime (i have to set some insane values there, to get steady positions, with acceptable responsiveness. That being: Rotation=200 Translation=200 Order2=80 Order3=150 RotDeadband=0.4 TransDeadband=0.4 Exponent=1.5).

[2015-04-30 17:59] asarnow commented on #141
@alemansec are you using a PS3 Eye? Can you see if current 2.3 works better if you lower the gain somewhat in CL-Eye Test? (CL-Eye menu > Options > Video Capture Filter).

[2015-04-30 18:51] njc opened #152 "HT doesn't work in 2.3RC9"
I'm using an unmodified PS3 Eye and face tracking doesn't work for me.
The device is configured correctly (640x480@60fps) and I get a feed from the camera in Opentrack, but no movement is registered. Using FreeTrack protocol and Accela filter.

[2015-05-01 22:17] MartinJG commented on #139
@zakamik, I have put another dll up for you to test. I think it might work for you. Can you test it and let me know how you get on. It is a bit weird and I think for future releases I really need to get into the guts of the QTSerial library and understand how it does handshaking because it isn'y behaving as I would expect, but that might be because of the way it is used!

Anyway, I manually force

[2015-05-02 02:00] huliqan commented on #139
I get it.Testing now:) thanks!

[2015-05-02 02:04] huliqan commented on #139
new dll working also good!
what is the difference?

[2015-05-02 02:34] huliqan commented on #139
Wow! New plugin is much clearer and better than the last your release!The Best of all !!!

[2015-05-02 05:12] MartinJG commented on #139
@huliqan main difference was some serial parameters to try and fix an issue with some arduino processor boards. Also there is now more diagnostics that can be turned on on the about page (recommend you don't turn them on unless you need them as they create a big diagnostics file in your opentrack install directory). If zakamik feeds back that it is working for him, I'll submit this version for inc

[2015-05-02 12:34] huliqan commented on #139
Thank you,Martin!
our virtual pilots, who have had problems with the 1st release plugin-says good  performance of the 2nd version!
" I have a plan of how to make this work!!"
This is great! We are waiting!

[2015-05-02 13:08] doveman commented on #139
My GY-85 does the weirdest things! I tested earlier and couldn't get any output on Yaw, only from Pitch and Roll. Nothing to do with OT or this dll though I don't think, as I got the same result when I tested with FT. I've just tested again, first in FT this time, then in OT and it's working normally again so it's bewildering!

I've noticed that disabling Roll under Output Remap doesn't work unles

[2015-05-03 02:33] MartinJG commented on #139
@doveman, I think perhaps the roll issue you mention has always been there because the settings in mapping don't actually get fed to the plugins. The ones in the hatire settings screen are the only ones the plugin can control.

I note that the GY85 is a 9dof device. I use an Invensense 9150 which is also a 9dof device. I get weird yaw effects if my magnetometer device is not calibrated, or if I br

[2015-05-03 12:06] cosmicdan commented on #140
Hi sthalik,

The test APK you shared has no effect for me (an engineering-board based on the MT6589 SoC) although my issue is different, the polling frequency drops drastically when in sleep. Checked my kernel sources and disabled power savings on sensors, albeit to no effect.

Since I'm a software engineer for eLinux/Android, I am comfortable with hacking around the FreePIE client app - maybe I c

[2015-05-03 13:42] Sokonomi opened #153 "[Suggestion] Better mouse emulation?"
I have found that many games do not pick up on the mouse emulation produced by opentrack. Though often the cursor works fine in the games menus, the camera does not move.

A program named XPadder seems to do a good job translating joystick to mouse, so good mouse emulation is definitely not inhibited by the games themselves. Unfortunately I am not savvy enough to figure this out other than "its no

[2015-05-03 13:44] sthalik commented on #153
Hey,

It's believed fixed for the next version.

[2015-05-03 13:44] #153 closed

[2015-05-03 13:48] Sokonomi commented on #153
When will the next version release though?
Its been three months since the last binary.

[2015-05-03 20:08] huliqan commented on #139
Please give me opentrack 2.3rc8
I need it  !!!

[2015-05-04 00:12] MartinJG commented on #139
Release candidate 8 is still available on this page:
https://github.com/opentrack/opentrack/releases
 If I recall correctly it did not have hatire in by default. I can't guarantee that copying the .dll will work but by all means try it.

@zakamik, I am going to assume that my fix sorted your problem or that you have a work around. I promised shalik I would do a pull request and get this code into

[2015-05-04 00:39] huliqan commented on #139
Source code only:((( not real program!  opentrack.exe is absent:(

[2015-05-04 02:14] MartinJG commented on #139
Ahh, sorry didn't realise that. I don't have the binaries for that and I haven't got all the right libraries to build the entire project.

@sthalik, can you help here or is that version dead and buried now?

[2015-05-04 04:35] huliqan commented on #139
already found here https://yadi.sk/d/1ex0QfqSgQZTo
 thanks for the support!

[2015-05-04 06:55] sthalik commented on #139
I don't recommend trying to send 9DOF data over the wire and doing integration on the PC. The output will deconverge as serial can't pump the values fast enough.

It can work though to replace the pose estimation algorithm with AHRS, see: <<http://www.x-io.co.uk/open-source-imu-and-ahrs-algorithms/>>. I can work with @MartinJG to get it done on his firmware.

[2015-05-04 08:59] sthalik commented on #152
Are you wearing glasses or looking at a weird angle? Can you submit an image?

[2015-05-04 09:00] #150 closed

[2015-05-04 09:03] sthalik commented on #149
With translation sensitivity slider to the right you should be able to smooth it out more.

I'll think of a separate smoothing slider for translation but only if this issue can't be solved otherwise.

[2015-05-04 09:06] sthalik commented on #141
The values are really extreme. Are your model settings accurate? You may also want to try hysteresis in PT tracker, it can reduce noise somewhat.

[2015-05-04 09:07] sthalik commented on #140
Thanks guys! We're getting closer to release now.

[2015-05-04 09:07] #140 closed

[2015-05-04 09:22] zakamik commented on #139
Hello,
I feel like a bit lost between new and the newest versions. I tried DLL with size 501588 bytes and it did not work for me, same as other versions.

Regarding the idea of sending new data I support Stanislaw here as it distorts one of the the main ideas and advantages of device: to move calculation effort of peripheral sensors out of PC CPU. I would rather suggest looking for more powerful M

[2015-05-04 09:40] sthalik commented on #139
If anything AHRS/DCM integration should be more performant on these tiny devices with emulated arithmetic.

[2015-05-04 13:02] doveman commented on #139
@MartinJG, when I first tried OT (rc9-32), I didn't have Roll mapped in the HatIRE settings (I don't tend to use Roll) but still had to disable Roll in the Output mapping section to stop the Game data showing Roll output. Strangely I don't think I've changed anything since my last post, but now I can disable it in either section to prevent Game data showing any Roll data, which is an improvement b

[2015-05-04 16:58] njc commented on #152
Neither. The webcam image shows up alright, but no tracking is performed
(no raw or game coordinates). Are there any log files I should include or
is it just a screenshot?

man. 4. maj 2015 11.00 skrev Stanisław Halik <notifications@github.com>:

[2015-05-04 17:07] zakamik commented on #139
Status report:
After driver reinstall, dll finally came alive. Opentrack still hangs after start-stop-start sequence (workaround is device hard reset), but that's expected behavior.

@MartinJG thank you for you hard work, I really hope this plugin will help many others with Atmega32u4 devices.

[2015-05-04 18:14] MartinJG commented on #139
The idea is firstly for it to be an option. I have actually seen it done before so I know that the serial port can work. I anticipate I'll get around 100 samples a second at 115309 which is plenty if my sensor integration uses quarter ions and the SLERP algorithm. Maths on the PC side will be faster and with less overhead as we have an FPU PC side whereas that is emulated on the devices. Th point

[2015-05-04 18:21] MartinJG commented on #139
@dove,an, given your explanation, I'm not convinced it's magnetometer calibration either. I have to refashion mine for calibration too so I know it can be a pain. @zakamic, great news, glad we got there in the end. Thank you for sticking with it while we got it sorted. Like you say, hope we have helped others with that processor. It is after all a very popular one!

[2015-05-04 21:25] huliqan commented on #139
@MartinJG If no one wants it...
I want it ! And many pilots from our sites want it !

[2015-05-05 00:51] MartinJG commented on #139
@huliqan, that's good. I'm interested in at least trying it anyway!! Can I ask, do you guys write your own arduino sketches? Given you guys are the main interested party, I want to see how you want to use it so I can make sure I produce something helpful.

[2015-05-05 13:42] gagagu commented on #151
Hi, i've updated the code for other operating systems than windows. I hope it works.

[2015-05-05 15:10] sthalik commented on #151
It's done on a separate thread and at reduced speed. It takes 16 ms to render frames at 60 fps so it's very hard to be late with pose data.

[2015-05-05 19:39] njc commented on #152
Here's a screenshot. Webcam seems to be connected ok (works with
facetracknoir).

man. 4. maj 2015 kl. 18.57 skrev Nils Jakob Clemmensen <
nj.clemmensen@gmail.com>:

[2015-05-05 19:48] Trooph commented on #149
Thanks for the response
@sthalik Actually my sliders are all the way to the right. That strange jumping happens even on extreme filtering..

[2015-05-05 22:35] asarnow commented on #149
@Trooph Is the jumping in the raw values? What I am seeing is jumping or oscillation in the raw values of all axes; the centers of the LED points hop 1 or 2 pixels from frame to frame. Going up to 'extreme' spike noise reduction helps, but it's not enough. Using 640x480 resolution ameliorates the problem quite a bit, but restricts the PS3Eye to lower frame rate.

In 2.2 this still happens, althoug

[2015-05-06 03:57] sniperwolfpk5 commented on #149
Yes i confirm that there is jumpiness. Like some one kick me. You can't click due to jumping. Is it possible to use facetracknoir accela. As i use facetrack because of it's stability. There are option that i like in opentrack but due to jumpiness it is useless.
By the way i am using version 2.3 rc9

[2015-05-06 17:39] Trooph commented on #149
Ill upload a vid tomorrow. It happens when im siting completely still. Its only X Y Z axis that suffer from that and sometimes it does make clicking those buttons harder :)

[2015-05-06 21:22] huliqan commented on #139
we mainly use nano 3(atmega328P)
 http://www.aliexpress.com/item/1P-HOT-USB-Nano-V3-0-ATmega328P-5V-16M-2014-Micro-controller-Board-For-Arduino/32258251789.html
or
Pro Micro Atmega32U4
http://www.aliexpress.com/item/Free-Shipping-Mini-Leonardo-Pro-Micro-ATmega32U4-5V-16MHz-Module-For-Arduino-Best-Quality/32252583700.html
with GY-85 (less often MPU9150 (3-4 people))
and use this sketches
https://ya

[2015-05-06 22:12] doveman commented on #139
@MartinJG I'd certainly be interested in seeing sensor integration on the PC side as well. Even if it doesn't improve performance, it might make it easier to fix any remaining reliability issues.

I used these sketches to calibrate and with the USB cable http://sourceforge.net/projects/gy80facetrack/files/

The only thing I did myself was change all the serial to serial1 to make it work with the H

[2015-05-08 08:29] MartinJG commented on #139
Cool, will take a look at all that over the weekend. I have quite a lot on at work at the moment, so forgive me if I am a little slow getting things done! I shall try and have a good go at it this weekend, but won't get much done during weekdays at the moment.

[2015-05-08 23:47] FlyingCircus- commented on #149
Might it be the lack of filtering deadzones that I pointed out some time ago? I did notice how difficult was to get a completelly steady pose, usually due to very small variations in the raw coordinates (even below the single digit degree we see as feedback) that were greatly multiplied to several degrees of drift due to the mapping curves. I think we would all benefit of having filtering deadzone

[2015-05-08 23:51] FlyingCircus- commented on #149
To be more clear: with deadzones I was referring to the adjustment of the sensitivity so, for example, only 0.5 or 1 or whatever raw degrees variations are taken into account.

[2015-05-09 02:17] asarnow commented on #149
@FlyingCircus- Unless I'm missing something, in 2.3-rc9 we have only rotation / translation smoothing amount and several presets using EWMA filter (if I read the code correctly) for 'spiking noise reduction' - similar to past versions 2nd/3rd frame weights or filter deadband in effect.

[2015-05-09 07:33] FlyingCircus- commented on #149
@asarnow It's my understanding we actually lost real deadbands in Accela since we got the merged settings. Noise reduction is done by averaging values in the "game values", but I believe we need a way to completely discard small movements of the "raw values". At least, that was my interpretation of what was happening.

[2015-05-09 11:32] huliqan commented on #139
Do not worry,Martin ! We do not hurry:)

[2015-05-10 05:04] sniperwolfpk5 commented on #149
Facetracknoir accela  is rock steady. Why not use facetrack accela.

[2015-05-10 22:51] asarnow commented on #149
@sniperwolfpk5 Accela Mk. 2 requires manually drawing the filter curves. @FlyingCircus- You're correct that there is no true deadband in the filter response. IMHO it's hard to understand the filter from the code alone, so I made [some visualizations] (https://imgur.com/a/BZO7N) comparing the current and Mk. 4 Accela versions. It looks like the current filter is better than Mk. 4 in a high S/N regi

[2015-05-13 14:12] Nakonzaid commented on #139
Hello!
I'm really interested in this proyect. It's awesome!
I've downloaded MartinJG's repository:
https://github.com/MartinJG/OpenTrackHatireTest

And Opentrack rc9:
https://github.com/opentrack/opentrack/releases/tag/opentrack-2.3-rc9

But i don't know what i must do to be able to use Hatire in Opentrack.
I put libopentrack-tracker-hatire.dll in Opentrack folder and when i run it i can't see Hat

[2015-05-14 01:52] MartinJG commented on #139
@Nakonzaid, putting the .dll in the directory and then starting open track is all you should need to do. It should the. Show in the list with face track etc as Hatire.

Open track binaries already have a Hatire version included (buggy). Did you get Hatire showing up before you used my version of the .dll?  Also, make sure you don't rename the dll as open track uses the name format to work out what

[2015-05-14 07:52] Nakonzaid commented on #139
Thank you Martin
Finnally i downloaded from here
https://www.dropbox.com/s/ok73ddag92ciym0/opentrack-2.3-PLUS-hatire.7z
And at last a i can see hatire in the list
I'll test it
Regards!

[2015-05-14 18:44] Nakonzaid commented on #153
First of all, sorry for my poor English.
I pray for that new version! :)
I need to use mouse emulation in  several games.
So, please, can you tell us a approximate date for that release?
Best regards and a big thank you!

[2015-05-14 19:37] Sokonomi commented on #153
Im also highly anticipating this improvement. It would make so many games head-track compatible.

[2015-05-14 20:35] FlyingCircus- commented on #149
@sniperwolfpk5 Those are very cool visualizations, Did you extract the filtering functions in order to plot them? Anyway the current filter is perfectly usable for me even if I think it could improve with customizable deadbands. I have gain set to its lowest while keeping very high exposure in the PS3eye driver, you might test it with those settings.

[2015-05-14 20:55] sthalik commented on #149
@asarnow awesome plots!

I'll introduce deadbands for rotation and translation for the next version, just give it time.

[2015-05-14 21:48] Nakonzaid commented on #153
Yes!
And very usefull for vr too

[2015-05-15 02:15] MartinJG commented on #139
Ok, the included one may be the buggy one, so once you verify that you can see it in the list, then try copying the one from my repository which should then work fine. I suspect there was some other issue with your previous rc9 download.

If you still have problems let me know and I'll double check the dll on my repository.

[2015-05-15 03:52] sniperwolfpk5 commented on #149
@FlyingCircus this is not done by me. These visualization i done by @asarnow.  @sthalik It would really nice to see dead bands.

[2015-05-15 12:06] doveman commented on #139
What sketch and program are you guys using to calibrate your GY-85 and Pro Micro and then what sketch are you using to run with OT? It's been a while since I flashed mine, so I'm not sure what the best available is now.

[2015-05-15 13:02] huliqan commented on #139
problems with v-sync in 2.3rc9 !!!
without v-sync tracking smooth and clean.
with v-sync pull is enough braking :(

[2015-05-15 21:42] MartinJG commented on #139
@huliqan, not sure what you mean by v-sync. Which hat ire option are you referring to? Are you talking about a hatire option, or an open track option?

[2015-05-16 17:54] huliqan commented on #139
I mean graphic option in video card or ingame settings.
with hatire or without hatire.May be in opentrack libs anything responsive to V-sync setting?

[2015-05-16 21:36] MarceloTomaz opened #155 "Send data"
Hello , is there a way to send Yaw , Pitch and Roll by UDP or API ?

[2015-05-17 01:08] asarnow commented on #149
@sthalik @FlyingCircus- Thanks, all I did was port the filter code to a MATLAB/Octave script. I'll commit the script into my opentrack fork, if you're interested in the details. I've also got a working build environment for opentrack now (plus a how-to in my fork's wiki), I look forward to testing out the new changes. I know it's possible to have a simple UI *and* good tracking even with low S/N.

[2015-05-17 01:29] dbaarda commented on #149
Very interested in the working build env wiki. I can probably contribute
lots on what *doesn't* work :-)
On 17 May 2015 11:09 am, "Daniel Asarnow" <notifications@github.com> wrote:

[2015-05-17 01:37] asarnow commented on #149
@dbaarda  [Here] (https://github.com/asarnow/opentrack/wiki/Build-Instructions) is the page.

[2015-05-17 15:18] MathijsG opened #156 "[Feature request] Support single point devices"
In FreeTrack you can use a single point with the tracker, to have a 2 DoF system with X and Y value.

Unfortunately OpenTrack doesn't support a single point system, this would be a warm welcome, to support basic headtracking with just a single led. Many games just need "looking around in the cockpit" which just needs one dot.

Is it a possibility to add a single dot feature in the pointtracker plu

[2015-05-17 18:57] sthalik commented on #139
@MartinJG how much work remains to be done?
@huliqan it's not an opentrack issue.

[2015-05-17 19:01] sthalik commented on #156
Pointtracker isn't extensible for additional models.

If you can make a single dot model, you can just as well make a three-dot model for full 6DOF. I don't think it's necessary to support that.

[2015-05-17 19:02] sthalik commented on #155
Yes, through the "UDP receiver" protocol.

[2015-05-17 19:03] sthalik commented on #141
See: #149

[2015-05-17 19:12] MathijsG commented on #156
Many people aren't that technical to make a full clip or something, while with one dot model even a simple bicycle light ducttaped to a hat would be sufficient. I don't know how hard it is to add this, but I think it will gain a few users who do have a simple light and just want 2DoF.

[2015-05-17 23:45] MartinJG commented on #139
@sthalik, the version we merged back into your repository is fine. The mods I am working on are a bit more involved so I would say don't let me stop your work. The version of source in your repository had no outstanding issues against it to my knowledge so is a good candidate for release. My next version will need quite a bit of testing by the interested parties. Any questions, let me know.

[2015-05-18 15:47] huliqan commented on #139
I will volunteer tester:)

[2015-05-18 22:28] MarceloTomaz commented on #155
Thank you, there is documentation ?

[2015-05-19 04:50] sthalik commented on #155
No, but it's really simple - 6 double precision values, X Y Z, yaw, pitch roll.

[2015-05-19 04:52] sthalik commented on #139
@MartinJG the issue remains whether to release 2.3 now, potentially leaving some devices unsupported, or hold up the release because of hatire. It depends on your time schedule.

[2015-05-19 05:07] sthalik commented on #149
Please see if the functionality works properly in rc10. I've only lightly tested it.

[2015-05-19 05:29] sthalik commented on #156
With 2DOF we'd only get X and Y translation however. Rotation won't work reliably. Is it worth advertising support for something as poorly working?

[2015-05-19 10:00] MathijsG commented on #156
It's your program so it's your decision, but I wouldn't call 2DoF with X and Y poorly working. Those axes are working fine. 99,9% of the games just need something to look around with in a cockpit, who uses rotation anyway :).

[2015-05-19 10:47] Sokonomi opened #157 "Mouse Emulation still not functioning properly."
I noticed in the new release candidate changelog that work has been done to mouse emulation.

Ive tested it in GTA5 and Farm Simulator 15, both still do not pick up the mouse emulation from opentrack while in game (oddly enough it does move the cursor when you open the in-game menu.

So the issue raised in my previous ticket unfortunately remains; https://github.com/opentrack/opentrack/issues/153

[2015-05-19 18:36] FlyingCircus- commented on #149
@sthalik The translation deadband definetively helps me to steady the output, no doubt about that. Regarding the rotation deadband I would like to have a much higher deadband, at it's current top value (0.3º) the difference is negligible. I would like to see it reach 1º or even 2º, as I said some time ago, I sit very close to the camera and even the slighlest movements are in the order of several

[2015-05-20 00:11] thelaoshi opened #158 "Octopus turns around like crazy"
Just tried opentrack (latest rc) + freepie on a sony z1 and samsung galaxy s2 and I have with both phones the problem, that  even if i dont move the phone the octopus moves like crazy as soon as i start freePIE.
Smallest movemens make the GameData values look like Randomized Number changing like will.
In Debug mode with PIE I see Orientation changes quite well and even if they dont change opentrac

[2015-05-20 00:27] #158 closed

[2015-05-20 00:27] thelaoshi commented on #158
forget it. there are 2 apk's and using the one under android-freepie was the failure :)

[2015-05-20 00:56] MartinJG commented on #139
@sthalik, I don't think there are any unsupported devices if using Hatire as originally designed. The last issue was from doveman which I fixed with the handshaking lines. The work I am now doing is to support sensor integration in Hatire rather than on the device. I have an early version working, but there are a couple of issues I need to address and features I need to add (eg magnetometer calibr

[2015-05-20 02:29] sthalik commented on #158
My bad about 2 apk's! Will be fixed for the next update.

[2015-05-20 11:27] Nakonzaid commented on #157
I'll try in Skyrim, GTA-IV and others today. Then i'll post the results.
Anyway, thank you very much for the hard work!

[2015-05-20 11:44] Sokonomi commented on #157
I'll attempt a few more games as well.

I also have a small suggestion, dont know if its possible; A settable deadband zone where mouse emulation "lets go" so to speak. This has two major benefits; One is that the mouse wont keep creeping around after you toggle it off, the other would be the ability to navigate menus when you face the screen directly. The last part would help games that have of d

[2015-05-20 12:00] fawick opened #159 "[Feature Request] Support command line options for autostart"
As a user, I'd like to be able to autorun and start opentrack at system startup. It would be great to have a command line parameter `--autostart <profile>` available, which, if used, would automatically load a profile and call `MainWindow::startTracker`.

If I can find the time, I'll come up with a pull request based on [QCommandLineParser](http://doc.qt.io/qt-5/qcommandlineparser.html).

[2015-05-20 12:19] Sokonomi opened #160 "[Feature Request] Automatic profile loading (game.exe recognition)"
I would like to see opentrack automatically loading a profile and starting when it detects a game associated with it, so you can just leave it running in the systemtray. Preferably making it go dormant again once no games are detected.

An example of this mechanic is the logitech gaming software, which lets you appoint a game.exe to a profile.

[2015-05-20 13:20] fawick commented on #160
FYI: PR #161 is for fixing #159, not this issue. Sorry.

[2015-05-20 17:32] sthalik commented on #157
It doesn't work currently. I have some idea on how to try to fix it again. Stay tuned.

[2015-05-20 17:37] sthalik commented on #159
Thanks! Merged.

[2015-05-20 17:37] #159 closed

[2015-05-20 17:44] sthalik commented on #160
You want to associate profiles with running executables? That makes sense, even though the current profile system might need a bit of an overhaul.

I'll try to get this change in before 2.3 since it's a cool feature to have.

[2015-05-20 21:29] FlyingCircus- commented on #156
@MathijsG I know it's not what you're asking for, but you might try the aruco tracker in case you wan't a low technology alternative. You just need to print the pattern and fix it somewhere visible from the webcam field of view... stick it in your forehead and you will be even crazier looking than the rest of us with 3 LEDs models ;)

[2015-05-21 08:12] Nakonzaid commented on #157
Thanks, sthalik!

[2015-05-22 00:02] huliqan commented on #139
@sthalik. Why in opentrack-2.3-rc10 another libopentrack-tracker-hatire.dll (317 kb)?
any differences from the  https://github.com/MartinJG/OpenTrackHatireTest/tree/master/WindowsDll

[2015-05-22 05:54] sthalik commented on #149
Okay, it's gonna be two degrees for rotation.

[2015-05-22 05:55] sthalik commented on #152
There's no screenshot. Attaching via main doesn't work, please use github feature.

[2015-05-22 07:14] njc commented on #152
Oh, here you go.
![screenshot](https://cloud.githubusercontent.com/assets/786703/7765823/dfdcad38-0062-11e5-8dd4-715e4b999b24.jpg)

[2015-05-24 00:57] MathijsG opened #162 "[Feature request] Bind specific key to profile"
While in a game it could be a handy option to bind a key (like you can bind the home and 'end' keys to things as centering and starting and stopping tracking) to switch to a profile. In some games you want to switch to a different profile with different curves in a split second. For example, I want a different sensitivity in ArmA III when I'm on foot and when I'm in a helicopter.

[2015-05-24 04:13] MartinJG commented on #139
I don't think there is a material difference. My suspicion is that sthalik is using a slightly different compiler to me and so may be producing a slightly more optimised version of the dll from a codebase perspective. Don't sweat the filesize difference ;)

[2015-05-24 08:30] zazzn opened #163 "Win 10 build 10074 headtracker crashes with access violation"
Trying to get this to work on Win 10. using FacetrackNOIR, the crash occurs when you try to start tracking. With Open Track it's the same. If you need access to a dev environment,  Please let me know and I'll be happy to share access to my VM environment.

Faulting application name: headtracker-ftnoir.exe, version: 0.0.0.0, time stamp: 0x0851b648
Faulting module name: ntdll.dll, version: 10.0.1007

[2015-05-24 12:13] sthalik commented on #163
Do you have gdb, the GNU debugger? It's normally built using GNU toolchain. I can send you a version with full debug info.

[2015-05-24 16:30] huliqan commented on #139
understood. Thanks!

[2015-05-24 18:08] zazzn commented on #163
Sure, please drop me a link.... I''m a SE by trade so i'm very savvy technically but have not done any programming since highschool/college. I've played with WinDBG in the past, but a link with some instructions would be very helpful!! Only languages I've written in was watcom pascal and watcom basic, so I have a very limited knowledge outside of your batch scripting/perl scripts ect.

[2015-05-24 19:28] zazzn commented on #163
Alright, I've verified, for sure it's the FaceTrack API that's crashing by running the Demo from seeingmachines. I noticed on their website, they don't offer the software or API anymore, so I'm betting they don't want to share... (time for them to make money I guess)

I'm not sure what we can do, but I don't believe the source code was ever released for this. That would suck if we had to find a op

[2015-05-25 00:45] sthalik commented on #163
Actually the HT face tracker is a portable "replacement" for FaceAPI.

I'll run Win 10 under a VM if you don't have GDB set up.

[2015-05-26 18:56] frost555 opened #164 "Pitch changes too much when moving head left to right. Point tracker."
I have an issue with 2.3 version. When i move my head left pitch goes negative, when i move my head right pitch moves positive. The difference is about 30 degrees, although i try to keep my head level. I dont have the same issue with 2.2 version, though my settings are almost identical. I made a video to demonstrate the effect. (In the video you can see that calibration values are different, but e

[2015-05-26 21:10] frost555 commented on #164
Issue fixed by unticking center on startup in keyboard settings

[2015-05-26 21:40] sthalik commented on #164
You neutral camera pose is rolled by 20 degrees from the video. Maybe we should add an option for camera roll angle?

[2015-05-26 21:42] sthalik commented on #163
I have a different issue. The PS3 Eye driver spins all CPU when opening the camera in the HT tracker. Attaching a debugger makes it work. There was one random crash like yours.

[2015-05-26 21:45] sthalik commented on #162
We don't have clear semantics for that. Profiles specify trackers and protocols used. To make it work, we'd need to assume these settings to be ignored and overwritten by the previous config used.

We'd also need to notify running trackers, protocols and filters of the profile change to make them reread the settings. There's no software infrastructure for that now.

The binding list would be per-g

[2015-05-26 21:48] MathijsG commented on #162
In my noob opinion it would be something like copying a profile, change things in it and save it under a different name. The keybinding for changing to that profile would be something that stops the current tracking like pressing on the Stop button, then selecting the other profile and then start button again.

[2015-05-27 07:08] frost555 commented on #164
If it is possible to accurately solve the geometrical problem of tracking with various model orientation at neural pose,  implementing those techniques would be great.

[2015-05-27 19:27] HornetMaX opened #165 "2.3rc10 Not working in FreeTrack compatible game (GP Bikes)"
Hi, I'm new to OpenTrack, great project !
I landed here when reading about EDTracker (http://www.edtracker.org.uk/) as I may be interested for Piboso's simulators, GP Bikes, MX Bikes, Kart Racing Pro and World Racing Series (all are FreeTrack ready and allow mouse-look).

I have no tracking device yet, so I tried using head tracking (via webcam) as input. Everything seems to work fine in the OpenT

[2015-05-27 21:01] zazzn commented on #163
can you send me the version with full debug, I have the debugger installed and i'm with one of my developers at work :)

ufo_10 at hotmail.com

[2015-05-27 23:39] MathijsG commented on #165
Did you try different settings on the Freetrack protocol? Click the button with the 3 dots ( ... ) on the protocol section for some options, in some games you need to act like TrackIR and in some there is official support for freetrack.

[2015-05-27 23:45] MathijsG commented on #164
Or make an option for clip angle. Many headphones don't have straight vertical lines to attach the clip to. My clip defaults to this, while my camera is perfectly straight:

![image](https://cloud.githubusercontent.com/assets/529552/7849879/b7afe2c2-04da-11e5-9892-0d5139718ed9.png)

Somewhere OpenTrack still assumes the position should be 3 crosses perfectly in a vertical line.

When I move my hea

[2015-05-28 01:30] rizer1980 commented on #165
Not working with IL2 Battle of Stalingrad.
Try working config, default, aloso try different option in "freetrack protocol settings"
2.3.9 work fine.

[2015-05-28 07:20] HornetMaX commented on #165
I tried to play around with the settings but no joy. Will try more tonight.

I have tried FaceTrackNoIR (v1.70) and FreeTrack (v2.2, demo mode): they both work fine with the above games, without any particular messing with the settings :(

MaX.

[2015-05-29 03:51] sthalik commented on #164
@MathijsG use custom model coordinates for slanted angles. We already have plenty of rotation options, and a new one for that is redundant.

[2015-05-29 03:53] sthalik commented on #165
@rizer1980 there were no changes from rc9 with regard to freetrack protocol.

Do you have opentrack installed in user directory or in Program Files? Filesystem permissions can respond differently to these directories.

[2015-05-29 06:57] HornetMaX commented on #165
@sthalik thanks for the advice. I simply put opentrack on the desktop, will try to move it around (Program Files, c:/opentrack, etc) and report back. The only unusual thing is that my "Desktop" is not in  the usual location (e.g. c:\Users\MaX\Desktop) but moved to another drive.

[2015-05-29 11:59] rizer1980 commented on #165
2.3.10 in directory "program files", same as 2.3.9.
Try also "desktop" folder, nothing changed.
Check permisiion for files, all allowed.
Try run as "run from system administrator".
Try to copy one file, opentrack.exe ver 2.3.10 to folder with software opentrack 2.3.9,
and run it, not working.

no idea more... (

[2015-05-29 16:10] frost555 commented on #164
I think that is a little bit too hard for average user. As i understand i need to use rotation matrixes to calculate custom model dimensions. Maybe we need process similar to existing calibration. Press the button and you will have custom model dimensions for the angles at default pose.

[2015-05-29 16:22] MathijsG commented on #164
FaceTrackNoIR has no problems with rotated angles when the model dimensions are correctly entered (which in case are, in both programs) why does have OpenTrack a problem with it? Manually entering those coordinates would be a pain in the ass, because you can't decently measure it, the model dimensions itself are just regular clip. I thought all calculations were based on the position of the clip w

[2015-05-29 17:05] HornetMaX commented on #165
Tried with install directory just under c: or in c:\Program Files (x86), no joy: still nothing happens in-game.

Is there a 2.3-rc9 build I can try ? (I can only see the sources here for rc9).

[2015-05-29 23:39] rizer1980 commented on #165
@HornetMaX
2.3.9
https://drive.google.com/file/d/0B3gQUxLbCRBgV0JkcWNJMGw2Qkk/view?usp=sharing

[2015-05-30 14:29] HornetMaX commented on #165
2.3rc9 behaves just like 2.3rc10 for me :(

One question: the file clientfiles/freetracktest/freetracktest.exe is supposed to do something when opentrack is runing (with freetrack output) ? because mine does nothing (rc9 and rc10, DLL loaded = false, no numbers moving).

On the other hand, if I run FreeTrack and then freetracktest.exe, then it shouws dll loladed = true and the numbers move.

MaX.

[2015-05-30 20:49] sthalik commented on #165
@HornetMaX you may have "use only TrackIR" selected in freetrack 2.0 protocol settings window. It works for me in newest build.

[2015-05-31 09:40] sthalik commented on #164
@frost555 you don't need matrices, they're too verbose. I won't provide a trigonometry solution since it can't be expected of users to perform.

Current rotation code has an interesting property where rolling the model by 90 degrees swaps pitch and yaw. I understand this property is less important than your common use-case. I'd like to release a fix after confirming it doesn't break FreePIE-equipp

[2015-05-31 10:01] sthalik commented on #152
@njc cropping your face off the image and putting it through a virtual webcam source, it detects your face just fine. I'd like to give it further debugging but for now I can't reproduce the problem.

[2015-05-31 11:44] rizer1980 commented on #165
ok, it is working for now. )
I tried freetracktest.exe, no dll loaded = false at first, run 2.3.9 and freetracknoir several times.
And after that dll = true, but no numbers under 2.3.10.
After that i place 2.3.10 to c:\opentrack directory and reboot just in case.
And 2.3.10 work for now, only in \opentrack directory, not working in program files, and not working in desktop.
freetracktest also work

[2015-05-31 20:03] HornetMaX commented on #165
It's driving me nuts :)

@sthalik : No, I haven't selected "use only TrackIR" (I use "Enable both" or "use FreeTrack, hide TrackIR").

What I do:

1. Cleanup/uninstall everything about FaceTraclNoIR, FreeTrack and OpenTrack, then reboot
2. Unzip the content of opentrack-2.3-rc10.zip into c:\opentrack
3. Run opentrack.exe, configure it (ht input, freetrack output, configure keys, save to .ini file)

[2015-06-01 07:23] sthalik commented on #165
@HornetMaX okay. Start regedit... HKEY_CURRENT_USER\Software\Freetrack\FreetrackClient

The "Path" key on the right should have a directory where freetrackclient.dll is stored.

If it exists on your system, it's a harder matter to analyse though.

[2015-06-01 11:50] sthalik commented on #113
@thmundal next RC will have a fix, tested with Witcher 3 and New Vegas. It should eliminate cursor drift too.

[2015-06-01 12:03] sthalik commented on #160
The feature's been implemented for the next RC. Please provide feedback on what's missing, what to change, etc.

[2015-06-01 12:03] sthalik commented on #164
The feature's been committed for the next RC. Please provide feedback.

[2015-06-01 12:04] sthalik commented on #157
The feature's been implemented for next RC. Please provide feedback.

[2015-06-01 12:26] sthalik commented on #163
@zazzn opentrack-2.3-rc12 build now contains headtracker-ftnoir.exe with DWARF debug info.

[2015-06-01 12:54] MarceloTomaz commented on #155
THANK YOU !

[2015-06-01 12:54] #155 closed

[2015-06-01 13:21] MarceloTomaz opened #166 "Freetrack Protocol 2.0"
Hello people!
I've been looking Freetrack Protocol 2.0, but found nothing concrete.
I am using an Arduino with a MPU6050 module for headtrack and would like to implement Freetrack Protocol 2.0.

I understand that it takes a server providing data on Freetrack Protocol 2.0 for the games to access the data
Is correct, can anyone help?

Grateful.

[2015-06-01 13:24] MathijsG commented on #164
With the current RC (12) the unwanted yaw is fixed again and my clip stays horizontal again while looking up :-), thanks for fixing. The auto center on starting of a profile is also a very welcome feature.

Your software is quickly getting better and better :)

The profile binding to executables is also very nice. Is it suppose to also start the headtracking itself? Or just selecting the profile?

[2015-06-01 13:26] sthalik commented on #166
Do you wish to implement game-side code or tracker-side code?

[2015-06-01 13:27] sthalik commented on #164
If you enable the checkbox and executable name is the same, it should switch to that profile and start tracking.

[2015-06-01 13:29] MathijsG commented on #164
Ah, didn't recognize the checkbox. Now it is working fine. Very nice!

[2015-06-01 13:31] MarceloTomaz commented on #166
Tracker-side.

[2015-06-01 14:04] MathijsG commented on #160
I do like the feature, however while in-game it is sometimes randomly stopping with tracking for a few seconds, and then starting again. And when I alt-tabbed out of the game and manually clicked stop (to alter some settings) it wouldn't let me stop it and keeped starting it again (because the game is still running).

Maybe it would be handy that if you manually press the stop button it will overr

[2015-06-01 14:09] sthalik commented on #166
Data structures are defined in https://github.com/opentrack/opentrack/blob/unstable/freetrackclient/fttypes.h

Source for freetrackclient.dll is in the same directory. Source for NPClient.dll and NPClient64.dll is available on request.

The .dll runs inside games, to connect to it:

https://github.com/opentrack/opentrack/blob/unstable/ftnoir_protocol_ft/ftnoir_protocol_ft.cpp

The logic includes p

[2015-06-01 14:11] sthalik commented on #166
There was already talk on using opentrack plugins without running opentrack in #151. Maybe this helps too.

[2015-06-01 14:12] sthalik commented on #160
I agree about the stop button.

Can you tell me more why it randomly stops?

[2015-06-01 14:13] MathijsG commented on #157
I tried in GTA V (with the previous build, RC10) and it is working perfectly. You need to change the settings in GTA V, the mouse settings should be on Windows instead of Raw. When on raw, the input is directly going to the game, instead of via Windows.

[2015-06-01 14:15] MathijsG commented on #160
No, it just randomly stopped tracking, I will investigate this further. I have a dual screen setup, maybe I can put up OpenTrack on my second screen and monitor both :).

[2015-06-01 14:20] MathijsG commented on #156
I already have some 3 point devices, the feature wasn't for me, but just for people like my friends, who find the whole soldering a clip a too hard thing to do. Here some video's with a single led, to see how well this can be working:

https://www.youtube.com/watch?v=UEx-24GRHkA

https://www.youtube.com/watch?v=WExFyTt4eJU

I think this will be a big usage boost for this software.

[2015-06-01 14:23] sthalik commented on #160
I don't have a good idea on what to do when user presses 'stop'. A game is running, possibly several (!). User expects game detection to still work at all. There's nothing good to do then.

[2015-06-01 14:26] MathijsG commented on #160
But if a user manually alt-tabs to OpenTrack in my opinion you may assume he wants to edit something in OpenTrack, so when he manually stops the tracking it should stay off until he starts it again and alt-tabs back into the game? That would be my use case.

[2015-06-01 14:38] sthalik commented on #160
Alt-tabs can't be detected. It can be disabled until tracking starts manually again but is there no better solution?

[2015-06-01 14:40] HornetMaX commented on #160
Maybe have the "Auto start" checkbox just beside the start/stop buttons, so that it is clear that if you press stop and auto start is on, then it will re-start if game is executing.

Not sure what happens if running two games associated with two different profiles ...

[2015-06-01 15:10] fawick commented on #160
From a user's perspective, I would choose the following approach:

1. If Game Detection is disabled, the usual behaviour is kept.
   * Start button starts tracking
   * Stop button stops tracking

2. If Game Detection is enabled, then the semantics of the Start/Stop Buttons change.
   * Start button is re-labelled to "Start Game Detection"
   * When clicked, it Starts Tracking automatically based

[2015-06-01 15:12] MathijsG commented on #160
Why would there be needed a better solution if the user manually disables the tracking? People only do that if they want to change anything or want to stop the tracking at all.

[2015-06-01 16:05] sthalik commented on #156
Can't they use the aruco tracker? It's just a b&w piece of paper.

It's not exactly easy to add a new point model in PT. I won't reject it outright, but it has low priority.

[2015-06-01 16:16] sthalik commented on #160
@fawick that complicates the logic of the main UI a fair bit. Game detection is an optional, minor feature and then it'd need be special-cased for in handlers for starting tracking, etc.

Would it be fine if game detection stopped itself working on manual "Stop" until the last-used game restarted? It stores the current executable internally and can use it for logic.

[2015-06-01 16:28] zazzn commented on #163
Downloading now for test ;)

[2015-06-01 16:38] fawick commented on #160
Of course there is always the option to run the detection as an external wrapper program. In that case the logic in the main program would be left untouched. Simply run a QProcess with opentrack.exe and use --autostart

[2015-06-01 17:01] MarceloTomaz commented on #166
Thanks I will study!
My application runs C #, so I want to understand how the protocol.
Sorry, I could include libopentrack-proto-freetrack.dll and call their functions using C # or could still run without GUI OpenTrack?

[2015-06-01 17:11] HornetMaX commented on #157
Works in-game for me too ! Nice job !

[2015-06-01 17:18] sthalik commented on #160
@fawick I wouldn't recommend that, it can't possibly close open dialogs gracefully. It can start cleanly but can't stop cleanly.

[2015-06-01 17:20] sthalik commented on #157
Thanks!

[2015-06-01 17:20] #157 closed

[2015-06-01 17:21] sthalik commented on #166
C# can't interface with C++, you need to write C API wrappers to access the library.

Alternatively you can send data through UDP protocol to opentrack.

[2015-06-01 17:22] sthalik commented on #164
@frost555 can you confirm it works now?

@KyokushinPL responded that the change doesn't break phone tracking.

[2015-06-01 17:32] sthalik commented on #166
Alternatively you can duplicate https://github.com/opentrack/opentrack/blob/unstable/ftnoir_protocol_ft/ftnoir_protocol_ft.cpp in C# and interface with the memory mapping yourself.

[2015-06-01 17:35] HornetMaX commented on #165
AAARGGH  !!!!

Office laptop (win7 x64): clean up everything, install rc12 (on Desktop), run opentrack.exe, check registry key, run freetracktest.exe --> OK, WORKS !!

Hoe PC (win7 x64): clean up everything, install rc12 (on Desktop), run opentrack.exe, check registry key, run freetracktest.exe --> DLL loaded = false :( :(

MaX.

[2015-06-01 17:40] sthalik commented on #165
Did you verify the .dll exists as per my last comment?

[2015-06-01 17:51] sthalik commented on #151
I don't like how it's necessary to duplicate code from plugin-support.cpp to get it to work. opentrack should provide a header with all the logic necessary to open libraries on all platforms.

Let's leave this issue open until there's a fix.

[2015-06-01 18:28] MathijsG commented on #156
I will check this allternative out myself. I understand if it is a hard job.

[2015-06-01 18:29] MathijsG commented on #160
I think it is okay if the feature stops until the last game closed or restarts, because there is a reason for the user to manually stop the tracking in between.

[2015-06-01 19:18] frost555 commented on #164
Yes, i can confirm that i no longer have the reported issue. Thanks a lot!

[2015-06-01 20:05] HornetMaX commented on #165
@sthalik : yep, everything seems to be OK. The registry key gets correctly set.

I tried to clean up everything (even the registry under HKEY_CURRENT_USER\Software\OpenTrack-2.3), then reinstall. HKEY_CURRENT_USER\Software\Freetrack\FreetrackClient points to the right directory, but freetracktest.exe doesn't find the .dll.

I even switched forward/backward slashes in the registry path, out of desp

[2015-06-01 21:02] fawick commented on #160
Given that all destructors are written correctly, Qt applications will handle SIGTERM nicely.

[2015-06-02 06:37] sthalik commented on #160
It doesn't solve the problem of wanting to edit profile configuration despite game detector and games running. It just kills the app with no SIGTERM handler.

I'm going to release an update for game detection soonish. It rarely resulted in an executable list due to aforementioned bug.

@fawick  There's no implementation for listing Linux processes. It could though be simplified to reuse the decisi

[2015-06-02 06:45] sthalik commented on #165
@HornetMaX there's a tool called sxstrace.exe that can help. It's sadly hard to use. Also there's procmon.exe from sysinternals that can trace freetracktest.exe. Also a simple tool can be written to try open freetracktest and report any errors along the way.

It's tedious but I can't reproduct the issue on my end, so can't really share any particular expertise. I'll try to provide some diagnostic

[2015-06-02 06:45] sthalik commented on #164
Thank you!

[2015-06-02 06:45] #164 closed

[2015-06-02 06:55] sthalik commented on #149
Is it good in rc12? Can we consider accela mk5 suitable replacement for mk4 and below?

[2015-06-02 07:47] Nakonzaid commented on #157
Thank you very much!

[2015-06-02 08:24] HornetMaX commented on #165
@sthalik OK, thanks !
I've run Process Monitor on my office laptop (where freetracktest.exe works) and exported the events (filtering on Process = freetracktest.exe). I'll do the same at home and see if I get something strange.

[2015-06-02 17:51] MarceloTomaz commented on #166
I will use the udp sender to communicate, but I'm sending XYZ, yaw, pitch roll without success. I'm getting Opentrack data indicating communication.
Example: byte [] sendBytes = {0,0,0 , 10,110,50}
Any idea?

Grateful!

[2015-06-02 18:09] MarceloTomaz commented on #166
Sorry, there was a lack of attention.
I found the error.

[2015-06-02 19:21] HornetMaX commented on #165
@sthalik I run procmon on my office laptop (freetracktest.exe working) and on my home pc (not working). I saved the output (filtering only stuff relative to freetracktest.exe), I've put the logs here: https://drive.google.com/file/d/0BzmU7Qoo77i1X0h5azBBRXBxRzA/view?usp=sharing

Honestly, they are not very useful to me :)

[2015-06-02 19:59] jadeybaby166 opened #167 "Point Tracker no output in stable or 2.3"
I am attaching a screenshot. Have tried multiple instances run from desktop program files and x86 directories. I presume that there is not supposed to be and installer with it and that it is run straight from the exe in the directory. it runs fine on my laptop running windows 8 and i have previously run it on this computer (windows 7, both 64). I''m totally stumped as to why this isnt working.

![

[2015-06-02 20:01] jadeybaby166 commented on #167
![scrnsht](https://cloud.githubusercontent.com/assets/7323699/7945722/77359964-096a-11e5-8309-c5271055c5b2.jpg)

[2015-06-02 21:40] HornetMaX commented on #165
Wow, I thikn I've found it. If MSi Afterburner (with its RivaTuner Statistics Server) is running, freetracktest.exe does not work. Weird !

MaX.

[2015-06-02 21:57] sthalik commented on #165
@HornetMaX for me it worked with MSI Afterburner always. Strange indeed.

[2015-06-02 21:57] sthalik commented on #167
Did you input model coordinates in PT settings?

[2015-06-02 22:07] HornetMaX commented on #165
@sthalik yeah strange.

Another random question: is the freetrack 2.0 protocol backward compatible with the original 1.0 protocol ? The games I'm interested into works wit FreeTrack 2.2 demo mode (which I suspect is using the v1.0 protocol). The info around all this is very confusing ...

Enough progress for tonight :)

[2015-06-02 22:10] sthalik commented on #165
Our protocol can only be used with the data structures for 2.0. In that sense, it's not backward-compatible.

[2015-06-02 22:36] MathijsG opened #168 "Tracking randomly stopping when using auto tracking based on executable"
I tried the new very nice feature of automatically starting tracking based on starting a specific executable.

In my case this was Il-2 Cliffs of Dover. When I started the game the auto tracking started perfectly, but after a while it randomly stops tracking for a few seconds and then starts again. When I disabled the auto tracking based on executable feature the tracking didn't stop, therefore I

[2015-06-03 06:06] sthalik commented on #168
There was a bug making it run erratically. It's fixed in rc12p1 binary release.

[2015-06-03 06:06] #168 closed

[2015-06-03 06:52] HornetMaX commented on #165
@sthalik Thanks. I'll see with the dev of the games then.

Let me know if you want this issue closed or kept open to track the conflict with AfterBurner.

[2015-06-03 06:59] sthalik commented on #165
You can use any implementation of FreeTrackClient for supporting games. There seems to be no conflict.

[2015-06-03 07:13] HornetMaX commented on #165
OK, now you lost me :)

I have a game that definitely work fine with FreeTrack v2.2 (in demo mode).
Should that game work fine with OpenTrack just because it works fine with FreeTrack v2.2 ?

Also, will the game need to locate and load the FreeTrackClient dll ?
So maybe it's just a matter of putting freetrackclient.dll on the path (or in the game's directory) ...

[2015-06-03 07:31] sthalik commented on #165
Path to freetrackclient in registry gets adjusted automatically on tracking start as long as you don't disable freetrack in "freetrack 2.0" protocol settings. From that moment, games starting with use that version.

But that .dll isn't compatible if other implementations try use it.

[2015-06-03 07:57] #166 closed

[2015-06-03 09:39] jadeybaby166 commented on #167
if you mean tracker clip dimentions im using the default ones because im using the delanclip. i tried to calibrate it but all went to 999.9. If that isnt waht you mean can you please explain.

[2015-06-03 09:57] sthalik commented on #167
What are the dimensions you specified then?

[2015-06-03 10:10] sthalik commented on #162
Now that we have game detection, do you still need this feature?

[2015-06-03 10:19] MathijsG commented on #162
'need' is a big word, but in many games you want to somehow want to toggle the overall sensitivity with the click of a button, just like some computer mouse have. Or using different axes while on foot instead of in the air. I don't know what would be the best way to achieve such thing?

[2015-06-03 11:15] Len62 commented on #167
In the settings area of point tracker. There are no default numbers.
![points](https://cloud.githubusercontent.com/assets/10486813/7958749/361361b8-09c0-11e5-91f3-adccd0b10f15.PNG)

[2015-06-03 12:18] sthalik commented on #167
Please post your full configuration file.

[2015-06-03 15:51] jadeybaby166 commented on #167
https://www.sendspace.com/file/1scfy3

That is the ini file (i presume thats what you meant).

Also i just downloads a fresh 2.2 install and there are definitely numbers in the model dimentions. see below. the numbers in the ini should match the ones in the screenshot.
i belive the numbers shown in the screenshot above, and mine below defualt to the dimesions of the track clip pro do they not? the

[2015-06-03 20:41] Len62 commented on #167
Make sure when you fire-up a new install/version that you load the default.ini file from the current versions drive location. Opentrack, due to info in the registry, will start with an ini file from an older version. Whenever I start fresh I load the default.ini and the model dimensions are always zero.

[2015-06-03 22:05] jadeybaby166 commented on #167
I dont know what happened before, but i just loaded the ini i was using on my laptop, on my desktop and its working now. Im not sure what i was loading before to get the results i was getting but im guessing it wasnt the ini that i was using on my laptop. Sorry to have wasted your time. I'll make sure i have a blank ini whenever i install a fresh one.

[2015-06-04 04:37] sthalik commented on #167
@Len62 we have a separate registry key for opentrack-2.3.

Glad the issue got resolved.

[2015-06-04 04:37] #167 closed

[2015-06-04 13:33] MathijsG commented on #168
Confirmed that this is perfectly working again indeed :).

[2015-06-04 16:01] MathijsG opened #169 "Game is crashing when selecting EWMA filter, also no octopus with this filter"
I'm trying out some filtering and stuff the get a smoother experience, but when I try the EWMA filter the game (IL-2 Cliffs of Dover) just crashes, and I don't see a moving octopus. Is this just me or is this filter deprecated?

[2015-06-05 06:57] cyboff opened #170 "roll affects pitch after centering"
Hello,
when I was trying to set up Opentrack for Windows Phone (as UDP sender) together with Opentrack 2.3-rc12p1, I found strange behaviour of Center function:
When I was comparing raw tracker data with game data with no filter, one-to-one linear mapping, and centering disabled after start, values from raw tracker and game data are always the same and changes to yaw, pitch and roll are not affect

[2015-06-05 09:07] sthalik commented on #170
There are some unresolved differences with how centering should work. There are two possible solutions:

- after rolling, "up" is opposite of gravity's vector
- after rolling, "up" is where the phone's top points out

We're using the latter behavior.

The FreePIE tracker for Android phones crudely solves that by adding a user-specified value (-90, +90, -180, +180) to each of yaw, pitch and roll. T

[2015-06-05 09:17] cyboff commented on #170
Thanks for clarification!

[2015-06-06 08:04] sthalik commented on #169
I can't reproduce the issue. What "game output" values are you getting?

[2015-06-06 08:08] MathijsG commented on #169
The game output stays zero, while the raw data does give numbers. But as soon as I click start the octopus also hides (that's supposed to work that way?)

And with Kallman I do get the Octopus, but when I want to calibrate any settings of Kalman I just get an empty popup window with no settings.

[2015-06-06 08:54] sthalik commented on #170
What position are you centering from?

[2015-06-06 09:31] sthalik commented on #169
My guess is that there's division by zero resulting in NaN values passed around. Try this build: <<https://www.dropbox.com/s/vhxgn4er967g3yr/libopentrack-filter-ewma.dll>>. If the octopus no longer disappears, it's a proper fix.

[2015-06-06 09:32] sthalik commented on #169
The binary is larger because there's debug info in it. It's otherwise identical with NaN check applied.

[2015-06-06 09:34] sthalik commented on #160
Are we good now, with exception of lack of process list for Linux builds?

[2015-06-06 09:37] sthalik commented on #165
Yes, that's the intention behind the protocol.

[2015-06-06 09:41] sthalik commented on #162
We wouldn't want to stop and start tracking in this case. It will cause a second or two delay before camera is operational. It'll also invoke "center on startup" machinery. The code makes an assumption that "tracking start" is that, not a "switch".

If filter sensitivity is an issue here, we should fix the filter to work for both infantry and airborne cases. There are some filter improvements in u

[2015-06-06 10:56] MathijsG commented on #169
When I put the DLL and run the software the filter isn't even selectable anymore:
![image](https://cloud.githubusercontent.com/assets/529552/8019382/63493256-0c4b-11e5-9cc5-b41d565a92d6.png)

[2015-06-06 11:13] sthalik commented on #169
My bad, try this whole installation directory: <<https://www.dropbox.com/s/2rm8udnvd2l6qpw/opentrack-ewma-test-20150606.7z>>

[2015-06-06 11:17] MathijsG commented on #162
It's not really a filter issue but more of a overall axis sensitivity thing what I mean. In my case it is mainly this:

When I play ARMA III in a chopper, I can see from the cockpit where my front is, so I don't need a deadzone for pitch and yaw. While on foot, my head view can be on a different angle than my feet are for walking, so I often use a profile which has a dead zone for yaw, so I can "l

[2015-06-06 11:23] MathijsG commented on #169
Nice it's working again now :-). Kalman only still got no settings, but I think that is working as intended?

All those filters are a little confusing to me though, maybe we can provide some in-program info about which filter is best for which situation or something? I would help with documenting things.

[2015-06-06 11:39] cyboff commented on #170
Usually I just need to center yaw (and pitch a little), as I have my phone attached to headphones:
raw data are usually around these values: yaw 110, pitch -10, roll 0
Result is that after centering, change in pitch of my head affects roll game values more than pitch, and
rolling my head is affecting game pitch values more...

[2015-06-06 11:41] sthalik commented on #169
Kalman and EWMA are @dbaarda's turf. He works on them when he feels like it. It's mostly for academical purposes that they're in-tree.

I'm working on improving Accela before release and gathering feedback. Let's wait with filter performance evaluation until all that could be done, has been done.

[2015-06-06 11:41] sthalik commented on #169
Thanks for bug report.

[2015-06-06 11:41] #169 closed

[2015-06-06 12:06] sthalik commented on #170
That follows from my reasoning about centering. Try this version. It's larger than releases because of debug information.

<<https://www.dropbox.com/s/2rm8udnvd2l6qpw/opentrack-ewma-test-20150606.7z>>

[2015-06-06 12:22] cyboff commented on #170
I can't see any options to change in UDP tracker ( I'm using this: http://www.windowsphone.com/en-us/store/app/opentrack-head-tracking/1c604f32-6d68-40ef-aa44-3163e30f547f )

also on UDP receiver in Opentracker there is only possibility to specify port number...

Without that, there is no change in behaviour..
But I think version rc10 was working quite well for me... but can't find binary version

[2015-06-06 12:59] sthalik commented on #170
Sorry, I updated the wrong file. You should now in the same link, see yaw/pitch/roll options in the UDP tracker.

We can't go back to rc10 behavior since it works badly for PT tracker users.

[2015-06-06 13:16] cyboff commented on #170
It's much better now :D Thank you very much!

[2015-06-06 14:06] #170 closed

[2015-06-06 17:38] HornetMaX commented on #165
OK, some progress.

I have both FreeTrack 2.2 and OpenTrack 2.3rc12 installed (in their own folders under c:\Program Files (x86)).

When the registry Freetrack/FreetrackClient/Path points to where OpenTrack is installed, freetacktest.exe doesn't work (DLL loaded = false) and my game doesn't see any freetrack.
If I stop AfterBurner, freetacktest.exe works but my game does not see any freetrack.

Wh

[2015-06-07 04:01] sthalik commented on #165
I agree. Please try this build:

https://www.dropbox.com/s/cnnmt4mz74ic5ve/freetrackclient.dll

[2015-06-07 04:22] sthalik commented on #165
I was able to verify it working with arma 2. arma 3 seems to have removed freetrack support...

[2015-06-07 04:23] sthalik commented on #165
Interesting http://www.free-track.net/forum/index.php?showtopic=4426

[2015-06-07 05:25] sthalik commented on #151
@gagagu you can now include "opentrack/plugin-support.hpp" to gain access to opentrack plugins. It abstracts away OS differences in opening shared libraries.

I recommend using the Modules class, trackers() and then grabbing a tracker with your preferred tracker->name.

[2015-06-07 06:50] gagagu commented on #151
Hi, Tod für your help. I am very busy atm. I will check it in a couple of days.
Greetings

[2015-06-07 10:33] MathijsG commented on #165
ARMA 3 works perfectly here without modyfiing anything, just enable TrackIR as a controller in-game.

[2015-06-07 12:06] HornetMaX commented on #165
@sthalik: It works fine with that dll  !! **w00tt!!11**

Game sees OpenTrack's FreeTrack output, freetracktest.exe works too and no conflict with AfterBurner.

One minor quirk: in freetracktest.exe, only the virtual pose numbers do vary, the raw one stay locked to zero (but I had this even with Freetrack's original client dll).

Great !

Let me know what's the plan to include the modified dll in y

[2015-06-07 15:40] sthalik commented on #165
@HornetMaX it's going to be in the next release candidate.

[2015-06-07 15:40] #165 closed

[2015-06-07 16:00] zazzn commented on #163
I don't think i'm advanced enough to debug sadly :( been trying for the last little while.

Faulting application name: headtracker-ftnoir.exe, version: 0.0.0.0, time stamp: 0x08382038
Faulting module name: ntdll.dll, version: 10.0.10074.0, time stamp: 0x553ac461
Exception code: 0xc0000005
Fault offset: 0x0005cf6e
Faulting process id: 0x16cc
Faulting application start time: 0x01d0a13adffcbbbe
Fault

[2015-06-08 08:52] fawick commented on #160
For what it's worth, I found rc12p1 to be running as expected and without hiccups. Auto-starting it on system bootup and using Game Detection perfectly satisfied my personal use case. In hindsight, I now consider the --autostart command line parameter I suggested as obsolete. Game Detection works for me.

[2015-06-10 05:25] DerangedPineapple commented on #118
Would it be possible to open this issue (so theres no need to create a new one)?

It would be beneficial to add a feature where user could designate what ever key he/she wants for Center/Toggle/Zero functions.

Case example
When in Arma 3 many times when using optics or when zooming in while flying helicopter it would be nice to actually bind a same key to center/toggle that you use for optics in

[2015-06-10 05:33] DerangedPineapple commented on #162
This change profile on the fly would be very useful feature especially for Arma 2/3 players who fly helicopters/jets and play as an foot soldier in the same game session.

If we could change at least curves with an button/key press when switching from helicopter/jet to infantry then there would be no need to alt-tab to desktop and manually change profile in use.

[2015-06-10 07:23] sthalik commented on #118
@DerangedPineapple it's not a perfect solution as it can get out of sync. It can switch to fast profile when you're starting optics, and smooth profile when exiting optics mode. For instance try pressing escape and pressing the key then.

As for this request and #162 give some time for new Accela binary build gets published. I don't get jumps in optics mode anymore with pure "rotation sensitivity"

[2015-06-10 10:56] DerangedPineapple commented on #118
Thansk for reopening this man! Love your work.

I don't understand about switching between fast and smooth profile nor pressing escape etc. Is this somehow connected to binding whatever key/button to center/toggle/zero features?

I merely wanted to support the idea what OP started which was that it would be nice feature to bind whatever key/mouse button to Centre/Toggle/Delay functionalities. That

[2015-06-10 13:15] sthalik commented on #118
Actually binding any button makes sense. Software usually allows for it with no button list like ours.

It's a bit of work because of how poorly the keyboard shortcut code is structured. I'd like to get back to it sometime though.

[2015-06-10 15:57] DerangedPineapple commented on #118
Glad to hear that it would be possible to implement it at some point.

[2015-06-10 17:10] doveman commented on #139
Using Bluetooth with my Pro Micro/GY85 it works for a while but then just stops receiving any input and I have to stop OT and turn the battery off/on to get it to work again. I'll have to switch back to the USB sketch and see if it happens using a cable but I really want to be able to use it wirelessly, so if anyone has any ideas please help!

It did seem a bit more robust with 2.3-rc12 as it last

[2015-06-10 20:57] jochenschmich opened #171 "[feature] make a meta-tracker for running multiple trackers"
Hi there,

in V2.2 it was possible to configure a secondary tracker. This way you could combine a Gyroscope Tracker (via Joystick for example) and a IR Clip.

In V2.3 this options seems to be gone.
Is there any way to reactivate it?

Cheers

[2015-06-11 02:21] MartinJG commented on #139
@doveman, looking at the log, you are correct, it seems the device just stopped transmitting. Hatire was still working as it responded to stop and start requests.

My guess is the sketch is stuck in a while loop somewhere. I will look at your sketch when I have a moment, but I suspect the cause is noise on the i2c bus causing the bus to lock. There is a way to fix this but it's in the bowels of th

[2015-06-12 02:56] doveman commented on #139
@MartinJG, thanks I'll have a look at the sketch and see if I can spot anything.

I've uploaded the sketches I'm using, in case you get a chance to take a look: https://drive.google.com/file/d/0B1fDI89phEESWVlBMHBXQUREWDg/view?usp=sharing

The ones in the FTR subdirectoy are the ones I use with Opentrack. I tried using the non-BT one (which just uses Serial instead of Serial1) but couldn't even ge

[2015-06-12 02:58] sthalik commented on #139
@MartinJG @doveman I'm surprised the sketches are mostly the same thing, with minor changes. Can we unify the sketches and improve their code quality?

[2015-06-12 03:31] doveman commented on #139
@sthalik  @MartinJG Perhaps it will be possible somehow to check whether sending via Serial (USB) is getting a response and if not, switch to the Serial1 (BT) bus?

I also built an EDtracker device recently and they have somehow managed to create a single sketch for calibration and operational use (they also have a very nice calibration GUI), so it seems it is possible to merge those two parts som

[2015-06-12 03:38] doveman commented on #139
@MartinJG, the only While loop I can find that might be relevant is on the Sensors.cpp tab and is indeed part of the I2C code :

// Function to read from I2C
void ReadFromI2C(int device, char address, char bytesToRead)
{
    Wire.beginTransmission(device);
    Wire.write(address);
    Wire.endTransmission();

    Wire.beginTransmission(device);
    Wire.requestFrom(device, bytesToRead);

    char

[2015-06-13 04:14] huliqan commented on #139
I have EDTracker2 too,and I use with EDTracker only opentrack 2.2 stable ! opentrack 2.3 incorrect working with EDTracker2 (like a joy)
Please correct 2.3 release plugin libopentrack-tracker-joystick.dll that to work  like in 2.2 stable

[2015-06-13 18:47] phizz166 commented on #118
+1 to this. Obviously sim-type games/programs are the most likely to use nearly every key on your keyboard...between ArmA and DCS I use pretty much all of the keys that are made available in OpenTrack, even with modifiers. Being able to set this to any key would be best.

Incidentally, attaching a joystick button to center the view would be even better.

[2015-06-14 03:07] MartinJG commented on #139
HI guys, I'm having some internet issues at home at the moment, hence my sporadic responses one here. Hopefully monday next week will shed some light on my pain.

@doveman. so confession time for me. I initially built an EDtracker with a pro micro and an invensense 9150. It worked fine but was a little unstable (if I got rid of the jitter it was too sluggish). There is a long story here but what h

[2015-06-14 03:14] MartinJG commented on #139
@doveman I forgot to say that you can download the EDTracker sketch if you want, but the GUI stuff doesn't have shared source. I had intended initially to maintain compatibility with that excellent project, but as I started using a different sensor integration function for my sketch, I diverged to sharply. The issue with the promicro when trying to be a bit more advanced with the sensor integratio

[2015-06-14 03:32] sthalik commented on #139
@MartinJG EDTracker sketch won't help you much, they use a sensor array and not separate sensors like you guys do.

What's the gyro issue, drift? In DK1 Rift tracker we used a spring effect on yaw. Also what algorithm do you use for integration?

@huliqan do you get this issue without centering as well? That can show where the issue lies.

[2015-06-14 09:04] huliqan commented on #139
with cenrering.
![-1](https://cloud.githubusercontent.com/assets/11330258/8147961/6e683ea0-128d-11e5-80bf-47a53830fc27.jpg)

[2015-06-14 13:17] sthalik commented on #171
The exact functionality of "secondary tracker" won't come back. It was poorly designed.

A better idea is to make a new "Meta" or "Multi" tracker that allows for selecting arbitrary other trackers and assigning axes.

Any objections?

[2015-06-15 05:09] zazzn commented on #163
Don't know what i'm doing seems too advanced for me.

Did you happen to give it a try at all? Doesn't work in 10130 Win10 either.

[2015-06-15 08:09] sthalik commented on #149
@dbaarda would it help you if opentrack included code for automatic checkout and build of all its dependencies? This still requires a working compiler. We technically could ship premade GCC for x86 with the codebase. Is this what causes your issue?

[2015-06-15 08:34] sthalik commented on #163
Try this build and see if it crashes: https://www.dropbox.com/s/p1hntf5vhsvynxt/headtracker-demo-test-20150615.7z

If it crashes, see if there's any debug info in the console window that pops up.

[2015-06-15 14:18] sthalik commented on #160
Thanks!